<header>
  <h2>Summary</h2>
  <p class="small">You have selected:</p>
  <p *ngFor="let package of data.packages | keyvalue">
    The <strong>{{package.value[1]}} {{package.key}}</strong> package, lasting {{package.value[5]}} days.
  </p>
</header>

<form novalidate #form="ngForm" (ngSubmit)="checkout()">
  <!-- Excursions -->
  <section class="panel--top" *ngIf="excursions.length > 0">
    <h2>Excursions</h2>
    <p>Please note that these excursions are not part of the itinerary and have not included in the pricing thus far
      hence, will be an extra expense on your part. You can skip these if you like.</p>

    <header class="flights-head panel--xs bottom-border full-width" fxLayout="row" fxLayoutAlign="space-between">
      <div class="th" fxFlex="28">Activity</div>
      <div class="th" fxFlex="13">Package</div>
      <div class="th" fxFlex>Price/person (KES)</div>
      <div class="th" fxFlex="12">PAX</div>
      <div class="th center-text" fxFlex="25">Total</div>
    </header>

    <div class="excursions-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between"
      *ngFor="let excursion of data.excursions">
      <p class="tcell" fxFlex="28">{{ excursion['title'] }}</p>
      <p class="tcell" fxFlex="13">{{ excursionsMap[excursion['package']] | capitalize }}</p>
      <p class="tcell center-text" fxFlex>{{ excursion['price'] | number }}</p>
      <p class="tcell" fxFlex="12" fxLayout="column">
        <mat-select placeholder="Ticket(s)" name="excursions" [(ngModel)]="excursion['pax']"
          (ngModelChange)="toggleExcursion()">
          <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
        </mat-select>
      </p>
      <p class="tcell center-text" fxFlex="25">KES {{ (excursion['pax'] || 0) * excursion['price'] | number }}</p>
    </div>
    <div class="excursions-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
      <p class="tcell capitalize" fxFlex="75"><strong>Excursion total</strong></p>
      <p class="tcell center-text" fxFlex="25"><strong>KES {{ excursionTotal | number }}</strong></p>
    </div>
  </section>
  <!-- Transport -->
  <section class="panel--top">
    <h2>Transport Details</h2>
    <!-- <p>Destination<span *ngIf="data.multiple">(s)</span></p> -->
    <!-- <span class="bold full-width" *ngFor="let package of data.packages">{{ package[7] }}</span> -->
    <p><strong class="small">Destination: </strong> {{data.formData.destination}}</p>
    <p><strong class="small">Pax type:</strong> {{ data.formData.residency | capitalize }} <span>(Kenya)</span></p>
    <p>
      <strong class="small">Pax: </strong>
      {{data.formData.travellers.adults}} adults and {{data.formData.travellers.children || 0}} children.
    </p>
    <p><strong class="small">Travelling on: </strong> <span class="small">{{ getDate  }}</span></p>

    <div *ngIf="data.formData.location == 'Other'">
      <p class="small top-padded-sm"><strong>Your Inbound Flight Options</strong></p>
      <div class="padded">
        <mat-radio-group fxLayout="row" fxLayoutGap="1em" name="flight" [(ngModel)]="flight">
          <mat-radio-button value="custom">Take care of my own flight</mat-radio-button>
          <mat-radio-button value="izaura">Let Izaura handle it</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- If user handles their own flight -->
    <div class="tcell italic" style="padding-top: 0.6em" *ngIf="flight=='custom' && data.formData.location == 'Other'">
      <p>This option means that you are going to personally handle your inbound flight. Izaura safaris will handle your
        flight back home but at extra cost later on.</p>
      <p>You will need to convey to us the time your flight departs so we can pick you up at the airport.</p>
    </div>

    <!-- If user decides to let Izaurasafaris handle their flight -->
    <div class="tcell" style="padding-top: 0.6em" *ngIf="flight==='izaura' && data.formData.location == 'Other'">
      <section class="italic">
        <p>This option means that you authorize Izaurasafaris to handle both your inbound and outbound flights.</p>
        <p>Enter the name of the airport you wish to depart FROM in the following kind of format: </p>
        <p><strong class="small">Jomo Kenyatta International Airport - Nairobi, Kenya</strong></p>
        <p style="padding-top: 0.3em"><strong class="capitalize">Important:</strong> Make sure to include the city and
          country and also that the airport handles international flights.</p>
      </section>

      <mat-form-field class="full-width">
        <input matInput placeholder="Jomo Kenyatta International Airport - Nairobi, Kenya" name="airport" required
          ngModel>
        <mat-icon matSuffix>flight_takeoff</mat-icon>
      </mat-form-field>
    </div>

    <!-- Transport options -->
    <div *ngIf="data.multiple" class="top-padded-sm">
      <!-- Package order -->
      <article>
        <p class="small padded-xs">
          <strong>What package would you like to start with? </strong>
          <!-- <span>(We suggest always starting with safari)</span> -->
        </p>

        <mat-radio-group name="packageOrder" [(ngModel)]="packageFirst" (ngModelChange)="sortPickups()" fxLayout="row"
          fxLayoutGap="1em">
          <mat-radio-button *ngFor="let value of packageOrder" [value]="value">{{ value | capitalize }}
          </mat-radio-button>
        </mat-radio-group>
      </article>

      <!-- Pickup locations -->
      <article>
        <p class="small top-padded-sm" *ngIf="data.formData.location == 'Kenya'">
          <strong>Select your pickup location below</strong>
        </p>
        <!-- If it's a foreigner and they've selected to deal with their own flights -->
        <p class="small padded-xs" *ngIf="data.formData.location === 'Other' && form.value.flight == 'custom'">
          <strong>Where should we pick you up?</strong>
          <!-- <span>(If you don't know yet which airport in Kenya your plane will land in, select I don't know below)</span> -->
        </p>

        <mat-radio-group name="pickup" [(ngModel)]="pick" (ngModelChange)="sortTransport()" fxLayout="row"
          fxLayoutGap="1em" *ngIf="data.formData.location == 'Other' && form.value.flight == 'custom'">
          <mat-radio-button class="tcell" *ngFor="let pickup of pickups" [value]="pickup[0]">{{ pickup[4] }}
          </mat-radio-button>
          <mat-radio-button class="tcell" value="idk">I don't know</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group name="pickup" [(ngModel)]="pick" (ngModelChange)="sortTransport()"
          *ngIf="data.formData.location == 'Kenya'">
          <!-- <mat-tab-group dynamicHeight>
            <mat-tab [label]="pickups.key" *ngFor="let pickups of groupedPickups | keyvalue" class="panel--sm">
              <div class="top-padded-sm" fxLayout="column" fxLayoutGap="0.5em">
                <mat-radio-button class="tcell" *ngFor="let pickup of pickups.value" [value]="pickup[0]">
                  {{ pickup[4] }}
                </mat-radio-button>
              </div>
            </mat-tab>
          </mat-tab-group> -->
          <article>
            <!-- <p class="italic">Select the one you find most convenient.</p> -->
            <ul class="pickups">
              <li *ngFor="let pickups of groupedPickups | keyvalue">
                <p class="small-text light-weight italic padded-xs">{{ pickups.key }}</p>
                <div fxLayout="row" fxLayoutGap="1em">
                  <mat-radio-button *ngFor="let pickup of pickups.value" [value]="pickup[0]">
                    {{ pickup[4] }}
                  </mat-radio-button>
                </div>
              </li>
            </ul>
          </article>
        </mat-radio-group>
      </article>

      <!-- Transport options -->
      <section appAccordion *ngIf="transport?.length > 0 && form.value.flight !== 'izaura'">
        <p class="small top-padded-sm bottom-padded-sm"><strong>Select your transport </strong>(from your pick up
          location to
          your first destination)</p>
        <article class="accordion-row" *ngFor="let trans of transport; let i = index">
          <div class="accordion-title panel--xs bottom-border" fxLayout="row" fxLayoutAlign="space-between center">
            <p class="tcell icon-grey theme--success" fxFlex="10"
              [ngClass]="{'icon-grey': trans[0] !== selectedTransport['id'],'theme--success': trans[0] === selectedTransport['id']}">
              <mat-icon>check_circle</mat-icon>
            </p>
            <p class="tcell" fxFlex="20">{{ trans[3] }}</p>
            <p class="tcell" fxFlex="25">{{ trans[8] }}</p>
            <p class="tcell" fxFlex="20">{{ getPax(trans[3], trans[4]) }} pax</p>
            <p class="tcell" fxFlex="25">KES {{ getPaxTotal(trans[3], trans[6]) | number }}</p>
            <p class="tcell" fxFlex="5">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </p>
          </div>
          <div class="accordion-content closed panel--sm">
            <p class="small"><strong>Distance: </strong>{{ trans[14] }} km</p>
            <p class="small">{{ trans[7] }}</p>
            <p class="small light-weight top-padded-sm"
              *ngIf="trans[3] === 'flight' || trans[3] === 'Flight' && !!data.formData.travellers.children===true">
              This is a short domestic flight. Lap babies (kids under 2yrs) travel free, that is you don't have to buy
              them a seat, you could just carry them on your lap.
            </p>
            <div class="accordion-footer panel--xs" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="small light-weight" fxFlex="35"
                *ngIf="trans[3] === 'flight' || trans[3] === 'Flight' && !!data.formData.travellers.children===true">
                Enter number of passengers:
              </p>
              <span style="margin: 0 0.3em;"></span>
              <mat-form-field fxFlex="14"
                *ngIf="trans[3] === 'flight' || trans[3] === 'Flight' && !!data.formData.travellers.children===true">
                <mat-label>Pax</mat-label>
                <mat-select name="flightPax" [(ngModel)]="flightPax" required>
                  <mat-option *ngFor="let pax of counter" [value]="pax">
                    {{ pax }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex></div>
              <div class="accordion-content--cta" fxFlex="32" fxLayout="row" fxLayoutAlign="space-between">
                <button type="button" class="capitalize" mat-raised-button color="accent"
                  (click)="selectTransport(trans)">Select</button>
                <span style="margin: 0 0.4em;"></span>
                <button type="button" mat-raised-button class="capitalize" (click)="unselectTransport()">Cancel</button>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </section>

  <section class="panel--top">
    <h2>Accommodation details</h2>
    <div class="accommodation-table top-padded" *ngFor="let hotel of data.hotels | keyvalue; let i = index">
      <p class="small-text">Select your <em>{{ hotel.key }}</em> accommodation options</p>
      <header class="panel--xs bottom-border full-width" fxLayout="row" fxLayoutAlign="space-between">
        <div class="th" fxFlex="67">Details</div>
        <div class="th" fxFlex="13">Reservations</div>
        <div class="th center-text" fxFlex="20">Total</div>
      </header>

      <main [ngModelGroup]="hotel.key">
        <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell" fxFlex="35">
            <strong>{{data.packages[hotel.key][6]}} nights at {{hotel.value['hotelName']}} (single)</strong>
          </p>
          <p class="tcell" fxFlex="32">
            <strong>KES {{data.packages[hotel.key][6] * hotel.value['singleRoomPrice'] | number}}</strong>
            /person @ {{ hotel.value['singleRoomPrice'] | number}} Per night</p>
          <p class="tcell center-text" fxFlex="13">
            <mat-select placeholder="Guest(s)" name="paxSingle" [(ngModel)]="hotel.value['paxSingle']"
              (ngModelChange)="onPaxChange(hotel.key)">
              <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
            </mat-select>
          </p>
          <p class="tcell center-text" fxFlex="20">KES {{ rows[hotel.key]['paxSingle'] | number }}</p>
        </div>

        <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell" fxFlex="35">
            <strong>{{ data.packages[hotel.key][6] }} nights at {{hotel.value['hotelName']}} (double)</strong>
          </p>
          <p class="tcell" fxFlex="32">
            <strong>KES {{data.packages[hotel.key][6] * hotel.value['doubleRoomPrice'] | number}}</strong>
            /person sharing @ {{ hotel.value['doubleRoomPrice'] | number}} Per night.</p>
          <p class="tcell center-text" fxFlex="13">
            <mat-select placeholder="Guest(s)" name="paxDouble" [(ngModel)]="hotel.value['paxDouble']"
              (ngModelChange)="onPaxChange(hotel.key)">
              <mat-option *ngFor="let pax of doubleRooms" [value]="pax">{{ pax }}</mat-option>
            </mat-select>
          </p>
          <p class="tcell center-text" fxFlex="20">KES {{ rows[hotel.key]['paxDouble'] | number}}</p>
        </div>

        <!-- Totals -->
        <div class="accommodation-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell capitalize" fxFlex="75"><strong>Total Accommodation</strong></p>
          <p class="tcell center-text" fxFlex="20"><strong>KES {{ computeTotal(hotel.key) | number }}</strong></p>
        </div>
      </main>
    </div>

    <!-- Total for everything -->
    <div class="accommodation-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
      <p class="tcell capitalize" fxFlex="75"><strong>Total amount due</strong></p>
      <p class="tcell center-text" fxFlex="20"><strong>KES {{ fullTotal | number }}</strong></p>
    </div>
  </section>

  <section class="panel--top">
    <!-- cta -->
    <div class="right__cta">
      <button class="capitalize" mat-raised-button color="accent" [disabled]="!form.valid">Proceed to checkout
      </button>
    </div>
  </section>
</form>
