<header>
  <h2>Summary</h2>
  <p>You have selected the <span class="bold">{{data.package[1]}}</span> package.</p>
  <div *ngIf="!data.isPackage">
    <p>You will be staying at the <span class="bold">{{data.pkg['hotelName']}}</span> with a {{data.pkg['fk_rating']}}
      star rating.</p>
    <p>Meals are on <span class="bold">{{data.pkg['fk_boardType']}}</span> basis.</p>
  </div>

  <!-- If user selects bundle -->
  <div *ngIf="data.isPackage">
    <p>You will be staying at the <strong>{{data.pkg['hotel']}}</strong> with a {{data.pkg['rating']}} star rating.</p>
    <p>Meals are on <strong>{{data.pkg['boardType']}}</strong> basis.</p>
  </div>
</header>

<form novalidate #form="ngForm" (ngSubmit)="checkout()">
  <!-- Excursions -->
  <section class="panel--top" *ngIf="data.excursions?.length > 0">
    <h2>Excursions</h2>
    <p>Please note that these excursions are not part of the itinerary and have not included in the pricing thus far
      hence, will be an extra expense on your part. You can skip these if you like.</p>
    <!-- <div class="top-padded-sm">
      <p *ngFor="let excursion of data.excursions; let i = index"
          [title]="excursion[4]">
        <mat-checkbox (click)="toggleExcursion(excursion)">
          {{ excursion[2] }} - <small class="ultra-bold">KES {{ excursion[3] | number}}</small>
        </mat-checkbox>
      </p>
    </div> -->
    <header class="flights-head panel--xs bottom-border full-width" fxLayout="row" fxLayoutAlign="space-between">
      <div class="th" fxFlex="35">Activity</div>
      <div class="th" fxFlex="25">Price/person (KES)</div>
      <div class="th" fxFlex="15">PAX</div>
      <div class="th center-text" fxFlex="25">Total</div>
    </header>

    <div class="excursions-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between"
      *ngFor="let excursion of data.excursions; let i = index">
      <p class="tcell" fxFlex="35">{{ excursion[2] }}</p>
      <p class="tcell" fxFlex="25">{{ excursion[3] | number }}</p>
      <p class="tcell" fxFlex="15" fxLayout="column">
        <mat-select placeholder="Ticket(s)" name="excursions" [(ngModel)]="excursion['pax']"
          (ngModelChange)="toggleExcursion(excursion, true)">
          <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
        </mat-select>
      </p>
      <p class="tcell center-text" fxFlex="25">KES {{ (excursion['pax'] || 0) * excursion[3] | number }}</p>
    </div>
    <div class="excursions-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
      <p class="tcell capitalize" fxFlex="75"><strong>Excursion total</strong></p>
      <p class="tcell center-text" fxFlex="25"><strong>KES {{ excursionTotal | number }}</strong></p>
    </div>
  </section>

  <!-- Transport details -->
  <section class="panel--top">
    <h2>Transport Details</h2>
    <p>Destination: <span class="bold">{{data.package[5]}}</span></p>

    <!-- If there is a group departure -->
    <div class="padded" *ngIf="data.package[9]">
      <mat-radio-group fxLayout="row" fxLayoutGap="1em" name="departureType" [(ngModel)]="departureType">
        <mat-radio-button value="group">Group Departure</mat-radio-button>
        <mat-radio-button value="custom">Custom</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Group departure -->
    <div class="group-departure small" *ngIf="data.package[9] && departureType=='group'">
      <p>We have a group departure for <strong> {{data.package[10] | date}}</strong></p>
      <p>Proceed if you are okay travelling on this date, otherwise switch over to the custom date tab and enter your
        preferred travel date.</p>
    </div>

    <!-- Custom departure -->
    <div class="custom-date small" *ngIf="departureType=='custom'">
      <p>Enter your date below, we'l contact you with details regarding your time of departure to ensure timely checkin
        at your hotel.</p>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Departure Date" value="moment()" ngModel
          name="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <p class="small-text top-padded-sm" *ngIf="!data.isPackage"><strong>Select Your Flight</strong></p>
    <p class="small-text top-padded-sm" *ngIf="data.isPackage"><strong>Your flight details</strong></p>
    <div class="flight-table">
      <header class="flights-head panel--xs bottom-border full-width" fxLayout="row" fxLayoutAlign="space-between">
        <div class="th" fxFlex="25">Flights</div>
        <div class="th" fxFlex="17">Class</div>
        <div class="th" fxFlex="18">Price (KES)</div>
        <div class="th" fxFlex="15">PAX</div>
        <div class="th center-text" fxFlex="25">Total</div>
      </header>

      <main class="flights-body" *ngIf="!data.isPackage">
        <div class="flights-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between"
          *ngFor="let flight of data.flights; let i = index" ngModelGroup="flights">
          <p class="tcell" fxFlex="25">{{flight['flightName']}}</p>
          <p class="tcell" fxFlex="17">{{flight['flightClass']}}</p>
          <p class="tcell" fxFlex="18">{{flight['flightPrice'] | number}}</p>
          <p class="tcell" fxFlex="15" fxLayout="column">
            <mat-select placeholder="Ticket(s)" [name]="flight['flightName']" [(ngModel)]="flight['pax']"
              (ngModelChange)="onPaxChange()">
              <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
            </mat-select>
          </p>
          <p class="tcell center-text" fxFlex="25">KES {{ (flight['pax'] || 0) * flight['flightPrice'] | number }}</p>
        </div>
        <div class="flights-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell capitalize" fxFlex="75"><strong>Total transport</strong></p>
          <p class="tcell center-text" fxFlex="25"><strong>KES {{ transportTotal | number }}</strong></p>
        </div>
      </main>

      <!-- If user selects bundle -->
      <main class="flights-body" *ngIf="data.isPackage">
        <div class="flights-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell" fxFlex="25">{{data.pkg['flight']}}</p>
          <p class="tcell" fxFlex="17">{{data.pkg['flClass']}}</p>
          <p class="tcell" fxFlex="18">{{data.pkg['flPrice'] | number}}</p>
          <p class="tcell" fxFlex="15" fxLayout="column">
            <mat-select placeholder="Ticket(s)" name="pax" [(ngModel)]="data.pkg['pax']"
              (ngModelChange)="onPaxChange()">
              <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
            </mat-select>
          </p>
          <p class="tcell center-text" fxFlex="25">KES {{ total | number }}</p>
        </div>
        <div class="flights-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell capitalize" fxFlex="75"><strong>Total transport</strong></p>
          <p class="tcell center-text" fxFlex="25">
            <strong>KES {{ (data.pkg['pax'] || 0) * data.pkg['flPrice'] | number }}</strong>
          </p>
        </div>
      </main>
    </div>
  </section>

  <!-- Accommodation details -->
  <section class="panel--top">
    <h2>Accommodation details</h2>
    <div class="accommodation-table">
      <header class="panel--xs bottom-border full-width" fxLayout="row" fxLayoutAlign="space-between">
        <div class="th" fxFlex="67">Details</div>
        <div class="th" fxFlex="13">Reservations</div>
        <div class="th center-text" fxFlex="20">Total</div>
      </header>
      <main>
        <!-- If user selects custom options -->
        <div *ngIf="!data.isPackage">
          <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
            <p class="tcell" fxFlex="35">
              <strong>{{data.package[7]}} nights at {{data.pkg['hotelName']}} (double)</strong>
            </p>
            <p class="tcell" fxFlex="32"><strong>KES
                {{data.package[7] * data.pkg['doubleRoomPrice'] | number}}</strong>/person sharing @
              {{ data.pkg['doubleRoomPrice'] | number}} Per night</p>
            <p class="tcell center-text" fxFlex="13">
              <mat-select placeholder="Guest(s)" name="paxDouble" [(ngModel)]="data.pkg['paxDouble']"
                (ngModelChange)="onAcPaxChange()">
                <mat-option *ngFor="let pax of doubleRooms" [value]="pax">{{ pax }}</mat-option>
              </mat-select>
            </p>
            <p class="tcell center-text" fxFlex="20">KES {{ doubleRoomTotal }}</p>
          </div>

          <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
            <p class="tcell" fxFlex="35">
              <strong>{{data.package[7]}} nights at {{data.pkg['hotelName']}} (single)</strong>
            </p>
            <p class="tcell" fxFlex="32"><strong>KES
                {{data.package[7] * data.pkg['singleRoomPrice'] | number}}</strong>/person @
              {{ data.pkg['singleRoomPrice'] | number}} Per night</p>
            <p class="tcell center-text" fxFlex="13">
              <mat-select placeholder="Guest(s)" name="paxSingle" [(ngModel)]="data.pkg['paxSingle']"
                (ngModelChange)="onAcPaxChange()">
                <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
              </mat-select>
            </p>
            <p class="tcell center-text" fxFlex="20">KES {{ singleRoomTotal }}</p>
          </div>
        </div>

        <!-- If user selects bundle -->
        <div *ngIf="data.isPackage">
          <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
            <p class="tcell" fxFlex="35">
              <strong>{{data.package[7]}} nights at {{data.pkg['hotel']}} (double)</strong>
            </p>
            <p class="tcell" fxFlex="32"><strong>KES
                {{data.package[7] * data.pkg['doubleRoom'] | number}}</strong>/person sharing @
              {{ data.pkg['doubleRoom'] | number}} Per night</p>
            <p class="tcell center-text" fxFlex="13">
              <mat-select placeholder="Guest(s)" name="paxDouble" [(ngModel)]="data.pkg['paxDouble']"
                (ngModelChange)="onAcPaxChange()">
                <mat-option *ngFor="let pax of doubleRooms" [value]="pax">{{ pax }}</mat-option>
              </mat-select>
            </p>
            <p class="tcell center-text" fxFlex="20">KES {{ doubleRoomTotal | number }}</p>
          </div>

          <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
            <p class="tcell" fxFlex="35">
              <strong>{{data.package[7]}} nights at {{data.pkg['hotel']}} (single)</strong>
            </p>
            <p class="tcell" fxFlex="32"><strong>KES
                {{data.package[7] * data.pkg['singleRoom'] | number}}</strong>/person @
              {{ data.pkg['singleRoom'] | number}} Per night</p>
            <p class="tcell center-text" fxFlex="13">
              <mat-select placeholder="Guest(s)" name="paxSingle" [(ngModel)]="data.pkg['paxSingle']"
                (ngModelChange)="onAcPaxChange()">
                <mat-option *ngFor="let pax of counter" [value]="pax">{{ pax }}</mat-option>
              </mat-select>
            </p>
            <p class="tcell center-text" fxFlex="20">KES {{ singleRoomTotal | number }}</p>
          </div>
        </div>

        <div class="accommodation-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
          <p class="tcell capitalize" fxFlex="75"><strong>Total Accommodation</strong></p>
          <p class="tcell center-text" fxFlex="20"><strong>KES {{ accommodationTotal | number }}</strong></p>
        </div>
      </main>

      <!-- Total for everything -->
      <div class="accommodation-body--row bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between">
        <p class="tcell capitalize" fxFlex="75"><strong>Total amount due</strong></p>
        <p class="tcell center-text" fxFlex="20"><strong>KES {{ fullTotal | number }}</strong></p>
      </div>
    </div>
  </section>

  <section class="panel--top">
    <!-- cta -->
    <div class="right__cta">
      <button class="capitalize" type="submit" mat-raised-button color="accent">Proceed to checkout
      </button>

      <!-- [disabled]="form.valid==false || checkPaxGuests==false" -->
    </div>
  </section>
</form>
