<div class="fav-panel bg-grey">
  <p class="fav-headline medium">My Favorites</p>
  <div class="fav-info">
    <p class="small" fxLayout="flex" fxLayoutAlign="start center">
      <span class="accent link bold" routerLink="users/login">Save your favorites </span>
      to access on all devices or
      <span class="accent link bold" routerLink="users/login">sign in </span>
      to access your already saved list.</p>
  </div>
</div>

<main class="fav-panel extra-s-padding bg-white">
  <mat-tab-group *ngIf="pageReady; else nofavs">
    <!-- Display all the favorites -->
    <mat-tab label="All ({{ hasFavs }})">
      <div class="card-container">
        <mat-card *ngFor="let package of packages">
          <figure>
            <img mat-card-image src="{{package['image']}}" alt="{{package['title']}}">
          </figure>
          <mat-card-content>
            <h4 class="bold pointer" [routerLink]="package['url']">
              <a>{{package['title'] | capitalize:true | truncate:80:false:'' }}</a>
            </h4>
            <p>{{package['description'] | truncate:120:true}}</p>
          </mat-card-content>

          <mat-card-footer class="package-card-footer">
            <div class="card-footer__pricing">
              <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
              <h5 class="capitalize card-footer__pricing--price">Kes {{ package['price'] }}</h5>
            </div>
            <mat-card-actions class="card-footer__cta">
              <button class="capitalize" mat-stroked-button color="accent" [routerLink]="package['url']">
                View details
              </button>
            </mat-card-actions>

            <!-- Close button -->
            <span
              class="fav-close"
              title="Remove from favorites"
              (click)="remove(package)">
              <button mat-icon-button>
                <mat-icon aria-label="Delete favorite icon">close</mat-icon>
              </button>
            </span>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-tab>

    <!-- Display the other tabs -->
    <mat-tab label="{{ fav.key | capitalize}} ({{fav.value?.length}})" *ngFor="let fav of favorites | keyvalue">
      <div class="card-container">
        <mat-card *ngFor="let package of packages | filter:'packageType':fav.key">
          <figure>
            <img mat-card-image src="{{package['image']}}" alt="{{package['title']}}">
          </figure>
          <mat-card-content>
            <h4 class="bold pointer" [routerLink]="package['url']">
              <a><span class="duration" *ngIf="package['duration']">{{ package['duration'] | capitalize}} </span>
                {{package['title'] | capitalize:true | truncate:80:false:'' }}
              </a>
            </h4>
            <p>{{package['description'] | truncate:120:true}}</p>
          </mat-card-content>

          <mat-card-footer class="package-card-footer">
            <div class="card-footer__pricing">
              <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
              <h5 class="capitalize card-footer__pricing--price">Kes {{ package['price'] }}</h5>
            </div>
            <mat-card-actions class="card-footer__cta">
              <button class="capitalize" mat-stroked-button color="accent" [routerLink]="package['url']">
                View details
              </button>
            </mat-card-actions>

            <!-- Close button -->
            <span
              class="fav-close"
              title="Remove from favorites"
              (click)="remove(package)">
              <button mat-icon-button>
                <mat-icon aria-label="Delete favorite icon">close</mat-icon>
              </button>
            </span>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

  <ng-template #nofavs>
    <div class="fav-info">
      <p class="small" fxLayout="flex" fxLayoutAlign="start center">
        You have zero favorited packages. User the <mat-icon color="accent">favorite_border</mat-icon> icon to favorite packages.
      </p>
    </div>
  </ng-template>
</main>
