mat-sidenav {
  width: 220px;
  background-color: #fafafa;
}

mat-sidenav-content {
  min-height: 80vh;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

/* Account options styling */
li {
  list-style-type: none;
}

.option-row {
  padding: 1em 0;

  span:hover {
    text-decoration: underline;
  }
}

.package-info-spacer {
  margin-top: 0.6em;
}
