<div class="wrapper" *ngIf="pageReady; else loading">
  <nav class="spacer"></nav>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="top-padded">
      <mat-nav-list>
        <mat-list-item *ngFor="let menu of menus; let i = index" class="link" [class.active]="activeMenu==menu"
          (click)="changeMenu(menu)">
          <mat-icon mat-list-icon>{{ icons[i] }}</mat-icon>
          <p mat-line>{{ menu | capitalize }}</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bottom-padded">
      <!-- Home -->
      <div class="sPanel myaccount top-padded" fxLayout="row" fxLayoutAlign="space-between" *ngIf="activeMenu=='home'">
        <section class="left" fxFlex="50">
          <!-- Profile card -->
          <mat-card class="top-card" fxLayout="column">
            <!-- <p class="card-title">My profile</p> -->
            <mat-card-content fxLayout="row">
              <div class="user-image" fxFlex="35">
                <img class="img-responsive" src="{{path}}" alt="" style="width:100px;">
                <p class="link-underlined-accent">Update Photo</p>
              </div>
              <div class="user-names" fxFlex>
                <h2 class="profile-name">{{ user[1] }}</h2>
                <div class="bottom-border" fxLayout="row" fxLayoutAlign="space-between center"
                  style="padding-bottom: 8px;">
                  <p class="profile-subtitle">Joined on {{ user[3] | date:false:'year' }}</p>
                  <span class="bold accent link" fxFlexAlign="end center" (click)="update('name', 'edit', user[1])">
                    Edit
                  </span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Account options card -->
          <mat-card>
            <p class="card-title">Account options</p>
            <ul id="account-options">
              <li class="bottom-border" fxLayout="row" fxLayoutAlign="space-between center">
                <p class="small bold" fxFlex="30">Language</p>
                <mat-form-field fxFlex="68">
                  <mat-select placeholder="English">
                    <mat-option value="en">English</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>

              <li class="option-row bottom-border" fxLayout="row" fxLayoutAlign="space-between center">
                <p class="small bold" fxFlex="30">Nationality</p>
                <p class="small" fxFlex="68">{{ profile[2] }}</p>
              </li>

              <li class="option-row bottom-border" fxLayout="row" fxLayoutAlign="spae-between center"
                *ngIf="profile[3]=='ke'">
                <p class="small bold" fxFlex="30">National Id</p>
                <p class="small bold" fxFlex="50" *ngIf="profile[7]">{{ profile[7] }}</p>
                <p class="small" fxFlex="20" *ngIf="!profile[7]">
                  <span class="user-link bold" (click)="update('nationalId', 'add')">Add</span>
                </p>
                <p class="small" fxFlex="20" *ngIf="profile[7]">
                  <span class="user-link bold" (click)="update('nationalId', 'edit', 'profile[7]')">Edit</span>
                </p>
              </li>

              <li class="option-row bottom-border" fxLayout="row" fxLayoutAlign="space-between center">
                <p class="small bold" fxFlex="30">Passport</p>
                <p class="small bold" fxFlex="50" *ngIf="profile[5]">{{ profile[5] }}</p>
                <p class="small" fxFlex="20" *ngIf="!profile[5]">
                  <span class="user-link bold" (click)="update('passport', 'add')">Add</span>
                </p>
                <p class="small" fxFlex="20" *ngIf="profile[5]">
                  <span class="user-link bold" (click)="update('passport', 'edit', 'profile[5]')">Edit</span>
                </p>
              </li>

              <li class="option-row">
                <p class="small bold user-link">Close your account</p>
              </li>
            </ul>
          </mat-card>
        </section>

        <!-- Right Section -->
        <section class="right" fxFlex="48">
          <mat-card class="top-card">
            <header fxLayout="row" fxLayoutAlign="space-between center">
              <p class="card-title">Email address</p>
              <button mat-icon-button fxFlexAlign="end center" matTooltip="Add an email address"
                matTooltipPosition="right" *ngIf="!secondaryEmail" (click)="update('email', 'add')">
                <mat-icon aria-label="Button to add secondary email address">add</mat-icon>
              </button>
              <mat-icon fxFlexAlign="end center" matTooltip="Can't add another" matTooltipPosition="right"
                *ngIf="secondaryEmail">not_interested
              </mat-icon>
            </header>
            <mat-card-content>
              <div class="content-row">
                <p class="profile-subtitle">{{ user[0] }}</p>
                <p class="profile-subtitle-byline byline">Primary</p>
                <p *ngIf="!secondaryEmail">To update an email address, you must have at least two email addresses on
                  file.</p>
              </div>

              <div class="content-row" *ngIf="secondaryEmail">
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <p class="profile-subtitle" fxFlex="70">{{ profile[8] }}</p>
                  <p fxFlex="30">
                    <span class="user-link">Edit</span> |
                    <span class="user-link">Remove</span>
                  </p>
                </div>
                <p class="profile-subtitle-byline byline">Secondary</p>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <header fxLayout="row" fxLayoutAlign="space-between center">
              <p class="card-title">Phone number</p>
              <button mat-icon-button fxFlexAlign="end center" matTooltip="Add a phone number"
                matTooltipPosition="right" *ngIf="!secondaryPhone" (click)="update('phone', 'add')">
                <mat-icon aria-label="Button to add secondary phone number">add</mat-icon>
              </button>
              <mat-icon fxFlexAlign="end center" matTooltip="Can't add another" matTooltipPosition="right"
                *ngIf="secondaryPhone">not_interested
              </mat-icon>
            </header>
            <mat-card-content>
              <div class="content-row">
                <p class="profile-subtitle">{{ profile[4] }}</p>
                <p>Mobile, Primary</p>
              </div>

              <div class="content-row" *ngIf="secondaryPhone">
                <p class="profile-subtitle">{{ profile[9] }}</p>
                <p>{{ profile[11]}}, Secondary</p>
              </div>
            </mat-card-content>
          </mat-card>
        </section>
      </div>

      <!-- Bookings -->
      <div class="sPanel bookings top-padded" fxLayout="column" *ngIf="activeMenu=='bookings'">
        <nav fxFlex="row" fxLayoutAlign="space-between center">
          <form #f="ngForm" novalidate fxLayout="row" fxFlex="90" fxLayoutAlign="space-between">
            <div class="dategroup" fxFlex="38" fxLayout="row" fxLayoutAlign="space-between">
              <!-- Start date -->
              <mat-form-field fxFlex="49" appearance="outline">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="start" placeholder="" [formControl]="">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
              </mat-form-field>

              <!-- End date -->
              <mat-form-field fxFlex="49" appearance="outline">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="end" placeholder="" [formControl]="">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
              </mat-form-field>
            </div>

            <mat-form-field fxFlex="60" appearance="outline">
              <mat-label>Search bookings</mat-label>
              <input matInput placeholder="">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>

          <div class="filters" fxFlex="9" fxLayout="column" style="height: 63px;">
            <button mat-button [matMenuTriggerFor]="filtersMenu" fxFlexAlign="center center">Filters</button>
            <mat-menu #filtersMenu="matMenu">
              <h3 class="share-heading">Status</h3>
              <button mat-menu-item (click)="filterBy('All')">
                <!-- <mat-icon color="accent" *ngIf="filterValue === 'All'">check</mat-icon> -->
                <span>All bookings</span>
              </button>
              <button mat-menu-item *ngFor="let filter of filters" (click)="filterBy(filter)">
                <!-- <mat-icon color="accent" *ngIf="filterValue === filter">check</mat-icon> -->
                <span>{{ filter | capitalize}}</span>
              </button>
            </mat-menu>
          </div>
        </nav>

        <!-- If user has no bookings yet -->
        <mat-card class="center-text panel full-width" *ngIf="bookings?.length === 0">
          <p class="tcell">You have not made any bookings yet!</p>
        </mat-card>

        <mat-card class="bookings sPanel full-width top-card" fxLayout="column" *ngIf="bookings?.length > 0">
          <header class="bookings__header" fxLayout="row" fxLayoutAlign="space-between">
            <h3 fxFlex="75">{{ filterValue | capitalize }}</h3>
            <mat-icon fxFlexAlign="end center">keyboard_arrow_right</mat-icon>
          </header>

          <ul class="bookingsList" #accordion (click)="toggleActive($event)">
            <li *ngFor="let booking of bookings | filter:'status':filterValue ;let i = index">
              <div class="bookings__row" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="bookings__row--date" fxFlex="9">
                  <p>{{ getMonth(booking.created) }}</p>
                  <span>{{ getDayOfMonth(booking.created) }}</span>
                </div>
                <div class="bookings__row--title" fxFlex>
                  <p class="spaced">{{ getPackageTitles(booking.packages) }}</p>
                  <span class="byline" *ngIf="booking.packages?.length > 1">{{ getByline(booking.packages) }}</span>
                  <span class="byline" *ngIf="booking.packages?.length === 1">{{ booking.packages[0].byline }}</span>
                </div>
                <div class="bookings__row--cost" fxFlex="19">
                  <p class="spaced bold">KES {{ booking.totalCharge | number }}</p>
                </div>

                <div class="bookings__row--status" fxFlex="13">
                  <span class="tag tag-{{ getTag(booking.status) }}">{{ booking.status }}</span>
                </div>
              </div>

              <div class="bookings__row--expanded">
                <div class="bookings--inner spaced-lines" fxLayout="row">
                  <p fxFlex="10"></p>
                  <div fxFlex="25" fxLayout="column">
                    <section>
                      <p class="small-text spaced ultra-bold">Payment status</p>
                      <p class="tcell">{{ booking.status }}</p>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Total paid</p>
                      <p class="tcell">KES {{ booking.totalPaid | number }}</p>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Payment method</p>
                      <p class="tcell" *ngIf="booking.payments?.length > 0">{{ booking.payments[0].method }}</p>
                      <p class="tcell" *ngIf="booking.payments?.length === 0">None</p>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Transaction ID</p>
                      <p class="tcell capitalize" *ngIf="booking.payments?.length > 0">
                        {{ booking.payments[0].transactionId }}
                      </p>
                      <p class="tcell" *ngIf="booking.payments?.length === 0">None</p>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Points</p>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="tcell" fxFlex="50">Redeemed</p>
                        <p class="small-text spaced" fxFlex="20">
                          {{ booking.redeemedPoints | number }}
                        </p>
                        <span fxFlex></span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="tcell" fxFlex="50">Earned</p>
                        <p class="small-text spaced" fxFlex="20">
                          {{ booking.earnedPoints | number }}
                        </p>
                        <span fxFlex></span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="tcell" fxFlex="50">Total</p>
                        <p class="small-text spaced" fxFlex="20">
                          {{ booking.totalPoints | number }}
                        </p>
                        <span fxFlex></span>
                      </div>
                    </section>

                    <!-- If booking is on lipa pole pole terms -->
                    <div class="bookings--lipa-pole-pole"
                      *ngIf="booking.status === 'ongoing' && booking.payments[0].description === 'deposit'">
                      <section>
                        <p class="small-text spaced ultra-bold">Next installment due</p>
                        <p class="tcell">
                          {{ getNextInstallmentDue(booking._id).due_date_readable }}
                        </p>
                      </section>

                      <section>
                        <p class="small-text user-link bold">More details</p>
                      </section>
                    </div>

                    <section fxFlex="grow">
                      <!-- If payment status is pending - *ngIf="bookings['payment_status']==='pending'" -->
                      <button class="users-cta capitalize" style="margin-bottom: 1.2em; min-width: 85%;"
                        *ngIf="booking.status === 'pending'">Proceed to payment</button>
                      <!-- If payment status ongoing -->
                      <button class="users-cta capitalize" style="margin-bottom: 1.2em; min-width: 85%;"
                        *ngIf="booking.status === 'ongoing'"
                        (click)="openPayment('installment', booking._id, getNextInstallmentDue(booking._id).id, getNextInstallmentDue(booking._id).amount)">Pay
                        next installment</button>

                      <button class="capitalize users-cta-danger" style="min-width: 85%;"
                        (click)="cancelBooking(booking._id, getPackageTitles(booking.packages), booking.totalPaid, booking.earnedPoints, booking.totalPoints, booking.redeemedPoints)"
                        *ngIf="booking.status !== 'cancelled'">Cancel
                        booking</button>
                    </section>

                    <section fxLayout="row" fxLayoutAlign="start center" fxFlex="8" fxLayoutGap="0.4em">
                      <mat-icon class="mat-list-icon">print</mat-icon>
                      <p class="small-text user-link bold">Print details</p>
                    </section>
                  </div>

                  <div fxFlex></div>
                  <!-- Package Info -->
                  <div class="spaced-lines" fxFlex="52" fxLayout="column">
                    <section>
                      <p class="small-text spaced ultra-bold">Package info</p>
                      <p class="tcell">{{ booking.packageType | capitalize }}</p>
                      <div *ngFor="let package of booking.packages">
                        <p class="tcell">{{ package.title }}</p>
                        <p class="small-text user-link bold">{{ package.link }}</p>
                        <span class="package-info-spacer"></span>
                      </div>
                      <!-- <p class="tcell">Departed on
                        <span class="bold">March 4th, 2019</span> and returned
                        <span class="bold">March 9th, 2019</span>
                      </p> -->
                      <p class="tcell">Departure:
                        <span class="bold">{{ formatDeparture(booking.departure) }}</span>
                      </p>
                    </section>

                    <section *ngIf="booking.excursions?.length > 0">
                      <p class="small-text spaced ultra-bold">Excursions</p>
                      <div class="section-row" *ngFor="let ex of booking.excursions">
                        <p class="small-text bold">{{ ex.name}}</p>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <p class="tcell" fxFlex="80">{{ ex.pax}} person(s) @ {{ ex.unitPrice}}/person</p>
                          <p class="small-text spaced" fxFlexAlign="end center">
                            {{ ex.totalPrice | currency:'KES':'code'}}
                          </p>
                        </div>
                      </div>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Accommodation</p>
                      <p class="small-text user-link bold" *ngIf="booking.packages?.length === 1">
                        {{ booking.accommodation[0].hotel}}
                        <span *ngIf="!!booking.accommodation[0].type">({{ booking.accommodation[0].type }})</span>
                      </p>
                      <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center"
                        *ngFor="let a of booking.accommodation; let i = index">
                        <!-- <p class="small-text user-link bold">
                          {{ uniqueHotelName(booking.accommodation, i) }}
                          <span *ngIf="!!booking.accommodation[0].type">({{ booking.accommodation[0].type }})</span>
                        </p> -->
                        <p class="tcell" fxFlex="80">{{a.guests}}x {{ a.nights }} night(s) {{ a.room }}</p>
                        <p class="small-text spaced" fxFlexAlign="end center">{{ a.totalPrice | currency:'KES':'code'}}
                        </p>
                      </div>
                    </section>

                    <section>
                      <p class="small-text spaced ultra-bold">Transport details</p>
                      <p class="small-text" *ngIf="booking.packageType==='inbound'">
                        <strong>Inbound flight: </strong>
                        {{ booking.flight }}
                      </p>
                      <p class="small-text" *ngIf="booking.packageType==='inbound' && !!booking.airport">
                        <strong>Airport: </strong>
                        {{ booking.airport }}
                      </p>
                      <p class="small-text" *ngIf="!!booking.pickup">
                        <strong>Pickup: </strong>
                        {{ booking.pickup.location }}
                        <span *ngIf="!!booking.pickup.city_or_town">, {{ booking.pickup.city_or_town }}</span>
                      </p>
                      <!-- To -->
                      <!-- <p class="small-text bold">To</p> -->
                      <p class="small-text bold top-padded-sm" *ngIf="booking.packageType==='inbound'">
                        From pickup location to your destination
                      </p>
                      <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center"
                        *ngFor="let t of booking.transport">
                        <p class="tcell" fxFlex="80" *ngIf="!!t.carrier">{{t.pax}}x {{t.carrier}} ({{t.class}})</p>
                        <p class="tcell" fxFlex="80" *ngIf="!!t.means">{{t.pax}}x {{t.means}}</p>
                        <p class="small-text spaced" fxFlexAlign="end center">
                          {{ t.totalPrice | currency:'KES':'code'}}
                        </p>
                      </div>
                      <!-- Totals -->
                      <div class="row-divider"></div>
                      <div class="section-row-total" fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="small-text spaced ultra-bold" fxFlex="80">Total</p>
                        <!-- <p class="small-text spaced ultra-bold" fxFlexAlign="end center">
                          {{ (bookingTotals[i].transport_total + bookingTotals[i].accommodation_total + bookingTotals[i].excursion_total) | currency:'KES':'code'}}
                        </p> -->
                        <p class="small-text spaced ultra-bold" fxFlexAlign="end center">
                          {{ booking.totalCharge | currency:'KES':'code' }}
                        </p>
                      </div>
                    </section>
                  </div>

                  <!-- Close button -->
                  <div class="close-btn" fxFlex="10" fxFlexAlign="end center">
                    <mat-icon class="pointer">close</mat-icon>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="bookings__row--expanded" hidden>
            <!-- If payment method is lipa pole pole *ngIf="bookings.payment_method==='lipa-pole-pole'" -->
            <div class="bookings-body--table panel--lg">
              <p class="small-text" style="padding-bottom: 1em;"><strong>My Installments</strong></p>
              <header class="panel--xs full-width bottom-border" fxLayout="row" fxLayoutAlign="space-between">
                <div class="th" fxFlex="7">No</div>
                <div class="th" fxFlex="20">TransactionID</div>
                <div class="th" fxFlex="15">Amount(KES)</div>
                <div class="th" fxFlex="15">Due</div>
                <div class="th" fxFlex="15">Paid</div>
                <div class="th" fxFlex="15">Description</div>
                <div class="th" fxFlex="12">Status</div>
              </header>

              <div class="installment-row panel--xs bottom-border" fxLayout="row" fxLayoutAlign="space-between">
                <p class="tcell" fxFlex="7">13</p>
                <p class="tcell" fxFlex="20">Q3E45R8X09OJ</p>
                <p class="tcell" fxFlex="15">235,000</p>
                <p class="tcell" fxFlex="15">Dec 18th</p>
                <p class="tcell" fxFlex="15">Jan 18th</p>
                <p class="tcell" fxFlex="15">Deposit</p>
                <p class="tcell" fxFlex="12"><span class="tag tag-success tag-sm">paid</span></p>
              </div>
              <div class="installment-row panel--xs bottom-border" fxLayout="row" fxLayoutAlign="space-between">
                <p class="tcell" fxFlex="7">15</p>
                <p class="tcell" fxFlex="20">Q3E45R8X09OJ</p>
                <p class="tcell" fxFlex="15">456,500</p>
                <p class="tcell" fxFlex="15">Dec 18th</p>
                <p class="tcell" fxFlex="15">Jan 1st</p>
                <p class="tcell" fxFlex="15">Deposit</p>
                <p class="tcell" fxFlex="12"><span class="tag tag-warning tag-sm">pending</span></p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <!-- Wallet -->
      <div class="sPanel wallet top-padded" fxLayout="column" *ngIf="activeMenu=='wallet'">
        <header style="padding-bottom: 18px;">
          <section class="wallet-actions" fxLayout="row" fxLayoutAlign="space-between">
            <div class="wallet-action-item" title="Add money to your wallet" (click)="openPayment('deposit')">
              <span class="wallet-action wallet-action--block">
                <mat-icon aria-hidden="false" aria-label="Deposit funds SVG icon">input</mat-icon>
              </span>
              <p class="bold wallet-action-cta">Deposit</p>
            </div>

            <!-- *ngIf="walletBalance > 0" -->
            <div class="wallet-action-item" title="Withdraw money" (click)="openPayment('withdraw')"
              *ngIf="walletBalance > 0">
              <span class="wallet-action wallet-action--block">
                <mat-icon aria-hidden="false" aria-label="Withdraw funds SVG icon">launch</mat-icon>
              </span>
              <p class="bold wallet-action-cta">Withdraw</p>
            </div>

            <div class="wallet-action-item--disabled" *ngIf="walletBalance == 0">
              <span class="wallet-action wallet-action--disabled">
                <mat-icon aria-hidden="false" aria-label="Withdraw funds SVG icon">launch</mat-icon>
              </span>
              <p class="bold wallet-action-cta" style="color: #a8a8a8;">Withdraw</p>
            </div>

            <!-- *ngIf="filteredBookings?.length > 0 && walletBalance" -->
            <div class="wallet-action-item" *ngIf="filteredBookings?.length > 0 && walletBalance">
              <span class="wallet-action wallet-action--block" title="Use wallet balance to pay for a package"
                (click)="openPayment('transfer')">
                <mat-icon aria-hidden="false" aria-label="Transfer funds SVG icon">compare_arrows</mat-icon>
              </span>
              <p class="bold wallet-action-cta">Transfer</p>
            </div>

            <div class="wallet-action-item--disabled" *ngIf="filteredBookings?.length < 1 || walletBalance == 0">
              <span class="wallet-action wallet-action--disabled">
                <mat-icon aria-hidden="false" aria-label="Transfer funds SVG icon">compare_arrows</mat-icon>
              </span>
              <p class="bold wallet-action-cta" style="color: #a8a8a8;">Transfer</p>
            </div>

            <div class="wallet-action-item">
              <span class="wallet-action wallet-action--outline">
                <mat-icon aria-hidden="false" aria-label="Menu SVG icon">more_horiz</mat-icon>
              </span>
              <p class="bold wallet-action-cta">Filter</p>
            </div>
          </section>
        </header>

        <div class="flash-message-success" *ngIf="success" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="tcell" fxFlex="90">{{ successMessage }}</p>
          <span class="pointer" (click)="closeSuccessFlash()" fxFlex="5">&times;</span>
        </div>

        <div class="flash-message-danger" *ngIf="walletBalance == 0 && walletWarning" fxLayout="row"
          fxLayoutAlign="space-between center">
          <p class="tcell" fxFlex="90">Withdrawing and transfers are disabled for your account because your wallet
            balance is insufficient.</p>
          <span class="pointer" (click)="closeWalletWarning()" fxFlex="5">&times;</span>
        </div>

        <div class="flash-message-danger" *ngIf="transferWarning" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="tcell" fxFlex="90">You have no pending bookings that you can transfer funds from your wallet to.</p>
          <span class="pointer" (click)="closeTransferWarning()" fxFlex="5">&times;</span>
        </div>

        <mat-card class="center-text panel full-width" *ngIf="transactions?.length == 0">
          <p class="tcell">You have not made wallet transactions yet!</p>
        </mat-card>

        <mat-card class="sPanel full-width top-card" fxLayout="column" *ngIf="transactions?.length > 0">
          <section class="wallet__head" fxLayout="row" style="padding: auto 16px;">
            <p class="byline-small ultra-bold" fxFlex="8">Date</p>
            <p class="byline-small ultra-bold" fxFlex="19">TransactionID</p>
            <p class="byline-small ultra-bold" fxFlex>Description</p>
            <p class="byline-small ultra-bold" fxFlex="14">Amount(KES)</p>
            <p class="byline-small ultra-bold" fxFlex="14">Balance(KES)</p>
            <p class="byline-small ultra-bold" fxFlex="13">Action</p>
          </section>
          <div class="wallet__row" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let t of transactions">
            <section fxFlex="8">
              <p>{{getMonth(t.date)}}</p>
              <span>{{ getDayOfMonth(t.date) }}</span>
            </section>
            <section fxFlex="19">
              <p class="capitalize tcell">{{ formatId(t._id) }}</p>
            </section>

            <section fxFlex>
              <p class="spaced">{{ t.details.description | capitalize }}</p>
              <span class="byline">{{ t.payment.method | capitalize }}</span>
            </section>
            <section fxFlex="14">
              <p class="spaced bold">
                <span class="sign">{{ getSign(t.payment.wallet_op )}}</span>{{ t.payment.amount | number }}
              </p>
            </section>

            <section fxFlex="14">
              <p class="spaced bold">{{ t.payment.wallet_balance | number }}</p>
            </section>

            <section fxFlex="13">
              <span
                class="tag tag-{{getTag(t.payment.wallet_action)}}">{{ getTagTitle(t.payment.wallet_action) }}</span>
            </section>
          </div>
        </mat-card>
      </div>

      <!-- Favorites -->
      <div class="favorites" *ngIf="activeMenu=='favorites'">
        <div class="panel bg-grey">
          <p class="fav-headline medium">My Favorites</p>
          <div class="fav-info">
            <p class="small" fxLayout="flex" fxLayoutAlign="start center" *ngIf="!favorites?.length">
              You have zero favorited packages. User the <mat-icon color="accent">favorite_border</mat-icon> icon to
              favorite packages.
            </p>

            <p class="small" fxLayout="flex" fxLayoutAlign="start center" *ngIf="favorites?.length > 0">
              You have {{ favorites?.length }} favorited packages. User the <mat-icon color="accent">favorite_border
              </mat-icon> icon to favorite packages.
            </p>
          </div>
        </div>

        <main class="fav-panel-sm extra-s-padding bg-white">
          <mat-tab-group>
            <!-- Display all the favorites -->
            <mat-tab label="All ({{ favorites?.length }})">
              <div class="card-container">
                <mat-card *ngFor="let package of favorites" [class.fxCard]="favorites?.length == 3">
                  <figure>
                    <img mat-card-image src="{{package[6]}}" alt="{{package[4]}}">
                  </figure>
                  <mat-card-content>
                    <h4 class="bold pointer" [routerLink]="package[5]">
                      <a>{{package[4] | capitalize:true | truncate:80:false:'' }}</a>
                    </h4>
                    <p>{{package[7] | truncate:120:true}}</p>
                  </mat-card-content>

                  <mat-card-footer class="package-card-footer">
                    <div class="card-footer__pricing">
                      <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
                      <h5 class="capitalize card-footer__pricing--price">Kes {{ package[9] }}</h5>
                    </div>
                    <mat-card-actions class="card-footer__cta">
                      <button class="capitalize" mat-stroked-button color="accent" [routerLink]="package[5]">
                        View details
                      </button>
                    </mat-card-actions>

                    <!-- Close button -->
                    <span class="fav-close" title="Remove from favorites" (click)="remove(package)">
                      <button mat-icon-button>
                        <mat-icon aria-label="Delete favorite icon">close</mat-icon>
                      </button>
                    </span>
                  </mat-card-footer>
                </mat-card>
              </div>
            </mat-tab>

            <!-- Display the other tabs -->
            <mat-tab label="{{ fav.key | capitalize}} ({{fav.value?.length}})" *ngFor="let fav of favGroup | keyvalue">
              <div class="card-container">
                <mat-card *ngFor="let package of fav.value | filter:3:fav.key" [class.fxCard]="favorites?.length == 3">
                  <figure>
                    <img mat-card-image src="{{package[6]}}" alt="{{package[4]}}">
                  </figure>
                  <mat-card-content>
                    <h4 class="bold pointer" [routerLink]="package[5]">
                      <a><span class="duration" *ngIf="package[8]">{{ package[8] | capitalize}} </span>
                        {{package[4] | capitalize:true | truncate:80:false:'' }}
                      </a>
                    </h4>
                    <p>{{package[7] | truncate:120:true}}</p>
                  </mat-card-content>

                  <mat-card-footer class="package-card-footer">
                    <div class="card-footer__pricing">
                      <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
                      <h5 class="capitalize card-footer__pricing--price">Kes {{ package[9] }}</h5>
                    </div>
                    <mat-card-actions class="card-footer__cta">
                      <button class="capitalize" mat-stroked-button color="accent" [routerLink]="package[5]">
                        View details
                      </button>
                    </mat-card-actions>

                    <!-- Close button -->
                    <span class="fav-close" title="Remove from favorites" (click)="remove(package)">
                      <button mat-icon-button>
                        <mat-icon aria-label="Delete favorite icon">close</mat-icon>
                      </button>
                    </span>
                  </mat-card-footer>
                </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </main>
      </div>

      <!-- Reviews -->
      <div class="reviews top-padded" *ngIf="activeMenu=='reviews & ratings'">
        <mat-card class="top-card center-text panel">
          <p class="tcell">You haven't reviewed any items yet!</p>
        </mat-card>
      </div>

      <div class="notifications" *ngIf="activeMenu=='notifications'">
        <header class="panel" fxLayout="row">
          <!-- Email -->
          <div class="notifications__email" fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <figure class="icon-large" fxFlex="10">
              <mat-icon mat-list-icon>email</mat-icon>
            </figure>
            <section class="notification__email--text">
              <p class="small spaced ultra-bold">Email address</p>
              <p class="user-link bold">{{ user[0] }}</p>
            </section>
          </div>
          <!-- Sms -->
          <div class="notifications__sms" fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <figure class="icon-large" fxFlex="10">
              <mat-icon mat-list-icon>smartphone</mat-icon>
            </figure>
            <section class="notification__sms--text">
              <p class="small spaced ultra-bold">SMS</p>
              <p class="user-link bold">{{ user[2] }}</p>
            </section>
          </div>
        </header>

        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Payments</p>
          </header>
          <p class="mat-list-icon padded">You will be notified when you</p>
          <main>
            <!-- Row -->
            <div class="card-content-row bottom-border padded" fxLayout="row" fxLayoutAlign="space-between">
              <p>Make a payment</p>
              <figure class="small" fxLayout="row" fxLayoutGap="0.7em">
                <mat-icon mat-list-icon>email</mat-icon>
                <mat-icon mat-list-icon>smartphone</mat-icon>
              </figure>
            </div>
          </main>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Fetching your data...</p>
  </div>
</ng-template>
