<nav class="icon-grey" fxLayout="row" fxLayoutAlign="end center">
  <mat-icon matRipple class="pointer" (click)="dialogRef.close()">close</mat-icon>
</nav>
<!-- The spacing from the top -->
<div class="spacer"></div>
<!-- This is where the magic happens -->
<div class="item-container">
  <p class="item-title light-weight center-text">{{ modalHeading }}</p>
  <div class="flash-message" *ngIf="flash" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="tcell" fxFlex="90">{{ flashMessage }}}</p>
    <span class="pointer" (click)="closeFlash()" fxFlex="5">&times;</span>
  </div>
  <form [formGroup]="walletForm" (ngSubmit)="processForm($event)" fxLayout="column" *ngIf="!mpesaTransacted">

    <mat-form-field appearance="outline" *ngIf="data.action==='transfer'" class="full-width">
      <mat-label>Package title</mat-label>
      <mat-select placeholder="Package title" [formControl]="package" [attr.required]="true">
        <mat-option *ngFor="let booking of data.bookings" [value]="booking._id">{{ booking.packages[0].title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Amount in KES</mat-label>
      <input matInput type="number" placeholder="Amount" [formControl]="amount"
        [readonly]="data.action === 'installment' || data.action === 'transfer' && package.value === ''"
        [attr.disabled]="disableAmountField">
      <mat-hint *ngIf="(data.action === 'transfer' || 'withdraw') && package">
        Your wallet balance is KES {{data.walletBalance}}
      </mat-hint>
      <mat-error *ngIf="amount.errors && (amount.dirty || amount.touched)">
        <span *ngIf="amount.value !== null && amount.hasError('required')">Amount is required</span>
        <span *ngIf="amount.value === null">That is not a valid number 🙄</span>
        <span *ngIf="amount.hasError('min')">Minimum amount allowed is KES 1000.</span>
        <span *ngIf="amount.hasError('max') && !amount.hasError('min') && package.value !== ''">{{ getMaxError }}</span>
        <span *ngIf="amount.hasError('max') && !amount.hasError('min') && package.value === ''">{{ getMaxError }}</span>
      </mat-error>
    </mat-form-field>

    <section *ngIf="data.action === 'deposit' || data.action === 'installment'">
      <p class="item-title light-weight center-text">Payment Options</p>
      <mat-radio-group class="top-padded-sm" [formControl]="paymentOption">
        <div class="payment-options--single">
          <mat-radio-button value="stkPush" [disabled]="activateMpesa()" [title]="getTitle()">Pay Online (Mpesa Stk
            Push)</mat-radio-button>
        </div>
        <div class="payment-options--single" *ngIf="data.action==='deposit'">
          <mat-radio-button value="paybill" [disabled]="activateMpesa()" [title]="getTitle()">
            Mpesa PayBill
          </mat-radio-button>
          <div class="payment-content" *ngIf="paymentOption.value=='paybill'" hidden>
            <ol class="paybillProc sPanel">
              <li>Go to Safaricom SIM Tool kit, select <span class="bold"> M-PESA</span> menu, select <span
                  class="bold">"Lipa na M-PESA"</span></li>
              <li>Select <span class="bold">"Pay Bill"</span></li>
              <li>Select <span class="bold">"Enter Business no."</span>, Enter Izaura Safaris's Lipa na M-PESA PayBill
                Number <span class="bold" *ngIf="paymentOption.value=='paybill'">743019</span> <span class="bold"
                  *ngIf="paymentOption.value!=='paybill'">XXXXXX</span> and press "OK"</li>
              <li>Select <span class="bold">"Enter Account no."</span> and enter Account Number as "Izaurasafaris" press
                "OK"</li>
              <li><span class="bold">"Enter Amount" -</span> Enter the amount you wish to desposit and press "OK"</li>
              <li><span class="bold">Enter your M-PESA PIN</span> and press "OK"</li>
              <li><span class="bold">Confirm</span> that all the details are correct and press "OK"</li>
            </ol>
          </div>
        </div>
        <div class="payment-options--single">
          <mat-radio-button value="paypal">Paypal</mat-radio-button>
        </div>
        <div class="payment-options--single" *ngIf="data.action==='installment'">
          <mat-radio-button value="wallet" [disabled]="disableWalletOption">Wallet</mat-radio-button>
        </div>
        <div class="payment-options--single">
          <mat-radio-button value="ipay">Ipay</mat-radio-button>
          <div class="payment-content" *ngIf="paymentOption.value==='ipay'">
            <p>If you wish to pay using other channels such as <span class="bold">Airtel Money, Equity Eazzypay, Mobile
                Banking, Visa, Mastercard</span>, we have you covered.</p>
            <div class="payment-channels">
              <img class="img-responsive" src="../../../../assets/payments/channels.png" alt="Payment Channels">
            </div>
            <p><span class="ultra-bold">Please note: </span>This option attracts a 3% processing fee that will be added
              to your total.</p>
          </div>
        </div>
      </mat-radio-group>
    </section>

    <button type="submit" mat-flat-button color="accent" [disabled]="!walletForm.valid" class="full-width capitalize"
      *ngIf="paymentOption.value!=='paypal' && !processing">
      {{ buttonText }}
    </button>
    <div class="loading-container-section" *ngIf="processing">
      <mat-spinner diameter=25></mat-spinner>
      <p class="tcell">Processing...</p>
    </div>
  </form>
  <div class="mt full-width" [hidden]="paymentOption.value!=='paypal'" #paypal></div>


  <form #f="ngForm" (ngSubmit)="confirmPayment()" fxLayout="column" *ngIf="mpesaTransacted">
    <div class="payment-content" *ngIf="paymentOption.value=='paybill'">
      <ol class="paybillProc sPanel">
        <li>Go to Safaricom SIM Tool kit, select <span class="bold"> M-PESA</span> menu, select <span class="bold">"Lipa
            na M-PESA"</span></li>
        <li>Select <span class="bold">"Pay Bill"</span></li>
        <li>Select <span class="bold">"Enter Business no."</span>, Enter Izaura Safaris's Lipa na M-PESA PayBill
          Number <span class="bold" *ngIf="paymentOption.value=='paybill'">743019</span> <span class="bold"
            *ngIf="paymentOption.value!=='paybill'">XXXXXX</span> and press "OK"</li>
        <li>Select <span class="bold">"Enter Account no."</span> and enter Account Number as "Izaurasafaris" press
          "OK"</li>
        <li><span class="bold">"Enter Amount" -</span> Enter the amount you wish to desposit and press "OK"</li>
        <li><span class="bold">Enter your M-PESA PIN</span> and press "OK"</li>
        <li><span class="bold">Confirm</span> that all the details are correct and press "OK"</li>
      </ol>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Transaction Id</mat-label>
      <input matInput type="text" placeholder="Transaction Id" name="transactionId" ngModel required />
    </mat-form-field>
    <button type="submit" mat-flat-button color="accent" class="full-width capitalize" [disabled]="!f.valid">Confirm
      payment</button>
  </form>
</div>
