<div class="user-form--parent panel--lg bg-white">
  <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()" fxLayout="row" fxLayoutAlign="space-between">
    <!-- First child -->
    <div class="signup--info" fxFlex="55" fxHide.xs>
      <p class="mat-h1">Izaura Safaris Account</p>
      <p class="mat-h2">Why you want one</p>

      <p class="body-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae tenetur vitae? Minima
        consequuntur eveniet voluptates saepe. Suscipit, repellendus ab? Iste cupiditate, beatae eveniet suscipit
        dignissimos impedit quasi veritatis modi quibusdam similique atque alias nobis reiciendis at dolorem. Quisquam
        ipsa, aperiam repellendus eligendi distinctio labore ipsam, officia assumenda, beatae libero ullam? Eveniet
        vitae animi vel.</p>
      <br>

      <!-- <div class="signup-checkbox-group" fxLayout="column">
        <mat-checkbox></mat-checkbox>
        <p>I confirm that I have read, consent and agree to Izaura safaris' <span class="link bold">User Agreement</span> and <span class="link bold">Privacy Statement</span>, and I am of legal age. I understand that I can change my communication preferences any time in my Izaura Safaris Account.</p>
      </div> -->

      <footer class="signup-footer">

      </footer>
    </div>

    <!-- Second child -->
    <div class="vertical_form" fxLayout="column">
      <p class="mat-h1">Sign up / Register</p>

      <div class="fieldset" formGroupName="name" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput placeholder="" [formControl]="firstName">
          <mat-error *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.hasError('required')">This value is required</span>
            <span *ngIf="firstName.hasError('minlength')">Too short</span>
            <span *ngIf="firstName.hasError('maxlength')">Too long!</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="" [formControl]="lastName">
          <mat-error *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.hasError('required')">This value is required</span>
            <span *ngIf="lastName.hasError('minlength')">Too short</span>
            <span *ngIf="lastName.hasError('maxlength')">Too long!</span>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email Adress</mat-label>
        <input matInput placeholder="example@email.com" [formControl]="email">
        <mat-hint>Enter your primary email address. You can add another one later.</mat-hint>
        <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
          <span *ngIf="email.hasError('required')">This value is required</span>
          <span *ngIf="email.hasError('email')">Please enter a valid email address</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput type="tel" id="phone" [formControl]="phone" (ngModelChange)="check()">
        <mat-hint>Enter your primary phone number</mat-hint>
        <mat-error *ngIf="(isValid==false || phone.errors) && (phone.dirty || phone.touched)">
          <span *ngIf="phone.hasError('required')">Your phone is required </span>
          <span *ngIf="!isValid">{{ errorMessage }}</span>
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
        <mat-label>National Id</mat-label>
        <input matInput placeholder="" [formControl]="nationalId">
        <mat-hint>Applicable to citizens of Kenya only.</mat-hint>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Passport number</mat-label>
        <input matInput placeholder="" [formControl]="passport">
        <mat-hint>A valid passport number. The one we should use for your bookings.</mat-hint>
      </mat-form-field> -->


      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput placeholder="" [formControl]="password">
        <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.errors && (password.dirty || password.touched)">
          <span *ngIf="password.hasError('required')">You need to provide a password</span>
          <span *ngIf="password.hasError('minlength')">Your password needs to be at least 8 characters long</span>
          <span *ngIf="password.hasError('maxlength')">Keep your password under 20 characters long</span>
        </mat-error>
      </mat-form-field>

      <!-- <div *ngIf></div> -->
      <button type="submit" mat-raised-button color="accent" *ngIf="submitted==false"
        [disabled]="!signupForm.valid">Register</button>

      <div class="signupCta center-text" *ngIf="registrationStatus==false">
        <img src="../../../../assets/images/loader.gif" alt="Loading...">
        <p>Processing...</p>
      </div>
    </div>
  </form>
</div>
