<div class="checkout" fxLayout="row" fxLayoutAlign="space-between">
  <!-- Make selection a promise and do *ngIf="selection | async" -->
  <main class="checkout__main" fxFlex="65" *ngIf="!!selection">

    <ng-container [ngSwitch]="state">
      <!-- Home -->
      <section class="checkout-home" *ngSwitchCase="'home'">
        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Checkout Method</p>
          </header>
          <mat-card-content>
            <p>Already Registered? Please <span class="user-link" (click)="goTo('login')">log in</span></p>
            <div class="btn-group" fxLayout="row" fxLayoutGap="1em">
              <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('guest')">Guest checkout</button>
              <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('register')">Register</button>
            </div>
            <p class="bold">As a registered member:</p>

            <ul class="card-list">
              <li class="card-list-item">You earn points on every package you purchase. Points are redeemable and
                convertible to actual currency. The more holidays you go on, the more points you earn and the better the
                discount on your next purchase. For more information register and then go to your <span
                  class="user-link">account</span> page.</li>

              <li class="card-list-item">You can plan your holiday and then save for it. You could periodically top up
                your savings securely using any payment method and then later use those savings to pay for your holiday.
                You can send money to your account any number of times and we will give you a detailed log of those
                transactions. For more on this register and visit your <span class="user-link">account</span> page.</li>

              <li class="card-list-item">You will be able to browse packages and add them to your wishlist.</li>

              <li class="card-list-item">You could plan your holiday, customize your transport and accommodation options
                and then save those configurations and pay later, at your own convenience.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </section>

      <!-- Register -->
      <section class="checkout-register" *ngSwitchCase="'register'">
        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Already Registered? Please <span class="user-link" (click)="goTo('login')">log
                in.</span></p>
          </header>
          <mat-card-content>
            <p>Go through this quick registration process and then proceed with checkout.</p>
            <form class="panel" novalidate #registerForm="ngForm" (ngSubmit)="registerUser()">
              <div class="card-registration-form">
                <section ngModelGroup="name">
                  <!-- First name -->
                  <mat-form-field class="full-width" appearance="standard">
                    <input matInput placeholder="First name" name="firstName" required minlength="3" ngModel>
                  </mat-form-field>

                  <!-- Last name -->
                  <mat-form-field class="full-width" appearance="standard">
                    <input matInput placeholder="Last name" name="lastName" required minlength="3" ngModel>
                  </mat-form-field>
                </section>

                <!-- Email -->
                <mat-form-field class="full-width" appearance="standard">
                  <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput
                    placeholder="Email address" name="email" required ngModel>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="standard">
                  <input type="tel" id="phone" matInput name="phone" required ngModel>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="full-width" appearance="standard">
                  <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" name="password" required
                    minlength="8" ngModel>
                  <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </mat-form-field>
              </div>

              <p class="top-padded">Would you like to receive occassional notifications about free content, recommended
                packages and site wide deals? Unsubscribe at any time.</p>

              <mat-radio-group class="padded-md" name="notifications" [(ngModel)]="notifications" fxLayout="row"
                fxLayoutGap="1em">
                <mat-radio-button value="yes">Yes please, send me occassional emails</mat-radio-button>
                <mat-radio-button value="no">No thanks, I'd rather miss out</mat-radio-button>
              </mat-radio-group>

              <div fxLayout="row" fxLayoutGap="6px">
                <mat-icon mat-list-icon>lock</mat-icon>
                <p>Your data privacy is guaranteed. We do not share your data.</p>
              </div>

              <div class="btn-group-thick" fxLayout="row" fxLayoutGap="1em">
                <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('home')">Back</button>
                <button class="btn-stroked--primary users-cta" type="submit" matRipple
                  *ngIf="registerForm.valid">Register</button>

                <button mat-raised-button type="submit" [disabled]="!registerForm.valid" *ngIf="!registerForm.valid"
                  title="Something ain't right. Please check your input values">Register</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </section>

      <!-- Login -->
      <section class="checkout-login" *ngSwitchCase="'login'">
        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Log in to your account</p>
          </header>
          <mat-card-content>
            <p>Already have an account? Please log in.</p>
            <form class="panel--sm" novalidate #loginForm="ngForm" (ngSubmit)="logInUser()">
              <!-- Email -->
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email address" name="email" required ngModel>
              </mat-form-field>

              <!-- Password -->
              <mat-form-field class="full-width">
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" name="password" required
                  minlength="8" ngModel>
                <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>

              <div class="top-padded-sm" fxLayout="row" fxLayoutGap="1em">
                <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('home')">Back</button>
                <button mat-raised-button *ngIf="!loginForm.valid || isLoggedIn" [disabled]="!loginForm.valid">Login
                </button>
                <button type="submit" matRipple class="btn-stroked--primary users-cta"
                  *ngIf="!isLoggedIn && loginForm.valid">Login
                </button>
              </div>
            </form>
            <p class="user-link">Forgotten your password?</p>

            <div class="card-info-group">
              <p class="bold">Not yet a member?</p>
              <p class="padded">Register for an account and get access to the best travel deals anywhere.</p>
              <p class="user-link botton-padded" (click)="goTo('register')">Register now</p>
            </div>

          </mat-card-content>
        </mat-card>
      </section>

      <!-- Guest -->
      <section class="checkout-guest" *ngSwitchCase="'guest'">
        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Guest checkout</p>
          </header>
          <mat-card-content>
            <p>Even as a guest we still need the following details from you.</p>
            <form class="panel" novalidate #guestForm="ngForm" (ngSubmit)="guestCheckout()">
              <!-- First name -->
              <mat-form-field class="full-width">
                <input matInput placeholder="First name" name="firstName" required minlength="3" ngModel>
              </mat-form-field>

              <!-- Last name -->
              <mat-form-field class="full-width">
                <input matInput placeholder="Last name" name="lastName" required minlength="3" ngModel>
              </mat-form-field>

              <!-- Email -->
              <mat-form-field class="full-width">
                <input matInput type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  placeholder="Email address" name="email" required ngModel>
              </mat-form-field>

              <!-- Phone -->
              <mat-form-field class="full-width" appearance="standard">
                <input type="tel" id="phone" matInput name="phone" required ngModel>
              </mat-form-field>

              <!-- Passport -->
              <mat-form-field class="full-width">
                <input matInput placeholder="Passport" name="passport" required ngModel>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-select placeholder="Issuing country / Region" name="country" ngModel required #country>
                  <mat-option *ngFor="let country of countries" [value]="country['name']">{{ country['name'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Cta -->
              <div class="btn-group" fxLayout="row" fxLayoutGap="1em">
                <button matRipple class="btn-stroked--primary users-cta capitalize" (click)="goTo('register')">
                  Register
                </button>
                <button class="capitalize" mat-raised-button *ngIf="!guestForm.valid" [disabled]="!guestForm.valid">
                  Next
                </button>
                <button class="btn-stroked--primary users-cta capitalize" type="submit" matRipple
                  *ngIf="guestForm.valid">Next
                </button>
              </div>

              <p>We need your passport number so that we can book your flight(s).</p>
            </form>
          </mat-card-content>
        </mat-card>
      </section>

      <!-- Order summary -->
      <section class="checkout-summary" *ngSwitchCase="'summary'">
        <mat-card class="full-width top-card">
          <header class="card-header bottom-border">
            <p class="card-title">Order summary</p>
          </header>
          <mat-card-content class="checkout-summary--body top-padded">
            <section>
              <p class="spaced ultra-bold">Package info</p>
              <main class="top-padded-sm" fxLayout="row" fxLayoutGap="2em">
                <figure fxFlex="20">
                  <img class="img-responsive" [src]="selection['package']['image']"
                    [alt]="selection['package']['title']">
                </figure>
                <div class="package-info" fxFlex>
                  <p>{{ selection['packageType'] | capitalize }}</p>
                  <p>{{ selection['package']['title'] }}</p>
                  <p class="user-link bold">{{ selection['packageUrl'] }}</p>
                  <p>Depart on
                    <span class="bold">{{ selection['departureDate'] | date:false }}</span> and return
                    <span class="bold">{{ selection['package']['days'] }} days later.</span>
                  </p>
                </div>
              </main>
            </section>

            <section>
              <p class="spaced ultra-bold">Accommodation</p>
              <p class="user-link bold">{{ hotel }}</p>
              <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center"
                *ngFor="let ac of accommodation">
                <p fxFlex="80">{{ ac['guests'] }} x {{ selection['package']['nights'] }} nights {{ ac['room'] }}</p>
                <p class="spaced" fxFlexAlign="end center">Ksh {{ ac['totalPrice'] | number}}</p>
              </div>
            </section>

            <section>
              <p class="spaced ultra-bold">Transport details</p>
              <!-- To -->
              <!-- <p class="bold">To</p> -->
              <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let t of transport">
                <p fxFlex="80">{{ t['pax'] }} x {{ t['carrier'] }} ({{ t['class'] }})</p>
                <p class="spaced" fxFlexAlign="end center">Ksh {{ t['totalPrice'] | number }}</p>
              </div>
              <!-- From -->
              <!-- <p class="bold">From</p>
              <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let t of transport">
                <p fxFlex="80">{{ t['pax'] }}x {{ t['carrier'] }} ({{ t['class'] }})</p>
                <p class="spaced" fxFlexAlign="end center">Ksh {{ t['totalPrice'] | number }}</p>
              </div> -->
            </section>

            <section *ngIf="excursions?.length > 0">
              <p class="spaced ultra-bold">Excursions</p>
              <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center"
                *ngFor="let ex of excursions">
                <p fxFlex="80">{{ ex['name'] }} ({{ex['pax']}} people)</p>
                <p class="spaced" fxFlexAlign="end center">Ksh {{ ex['totalPrice'] | number }}</p>
              </div>
            </section>
            <!-- Totals -->
            <div class="row-divider"></div>
            <div class="section-row-total" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="spaced ultra-bold" fxFlex="80">Total</p>
              <p class="spaced ultra-bold" fxFlexAlign="end center">Ksh {{ selection['totalCharge'] | number }}</p>
            </div>

            <!-- <div class="btn-group " fxLayout="row" fxLayoutGap="1em">
              <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('guest')">Guest checkout</button>
              <button matRipple class="btn-stroked--primary users-cta" (click)="goTo('register')">Register</button>
            </div> -->
          </mat-card-content>
        </mat-card>
      </section>
    </ng-container>
  </main>
  <!-- isLoggedIn() || checkoutMethod=='guest'" -->

  <!-- Aside -->
  <aside class="checkout__aside" fxFlex="33" *ngIf="!!selection">
    <mat-card class="full-width top-card">
      <header class="card-header bottom-border">
        <p class="card-title">Checkout</p>
      </header>

      <mat-card-content>
        <form novalidate [formGroup]="checkout" (ngSubmit)="processCheckout()">
          <p>Confirm that the information in the summary is correct and proceed.</p>
          <section class="bottom-border padded-lg" *ngIf="isLoggedIn">
            <p class="ultra-bold spaced">Loyalty bonus</p>
            <main>
              <p class="italic padded-sm">You have a total of
                <strong>{{ points | number }}</strong> accumulated points, redeemable to
                <strong>KES {{ pointsToCurrency | number }}.</strong> <span *ngIf="!!points">Enter any amount between 0
                  and {{ pointsToCurrency | number }} below to claim your discount.</span>
              </p>
              <div class="card-form-field-row" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!!points">
                <mat-form-field appearance="outline" fxFlex>
                  <input matInput type="number" placeholder="Amount" [formControl]="pointsControl">
                  <mat-error *ngIf="pointsControl.errors && (pointsControl.dirty || pointsControl.touched)">
                    <span *ngIf="pointsControl.hasError('max')">Can't exceed limit</span>
                  </mat-error>
                </mat-form-field>
                <!-- <button matRipple class="btn-stroked--primary users-cta" fxFlex="36">Redeem</button> -->
              </div>
              <p class="accent pointer" *ngIf="!!points">Redeem all points (Ksh {{ pointsToCurrency }}) ?</p>
            </main>
          </section>

          <section class="bottom-border padded-lg" *ngIf="isLoggedIn">
            <p class="ultra-bold spaced">My wallet</p>
            <main>
              <p class="italic padded-sm">You have a total of
                <strong>KES {{ wallet | number }}</strong> in your wallet. <span *ngIf="!!wallet">Enter any amount
                  between 0 and {{ wallet | number }} below, to offset your current bill.</span>
              </p>
              <div class="card-form-field-row" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!!wallet">
                <mat-form-field appearance="outline" fxFlex="">
                  <input type="number" matInput name="wallet" placeholder="Amount" [formControl]="walletControl">
                  <mat-error *ngIf="walletControl.errors && (walletControl.dirty || walletControl.touched)">
                    <span *ngIf="walletControl.hasError('max')">Can't exceed limit</span>
                  </mat-error>
                </mat-form-field>
                <!-- <button matRipple class="btn-stroked--primary users-cta" fxFlex="36">Save</button> -->
              </div>
              <p class="small-text"></p>
              <p class="accent pointer" *ngIf="!!wallet">Apply all my savings (Ksh {{ wallet | number }}) ?</p>
            </main>
          </section>

          <section class="padded-lg">
            <div class="section-row padded" fxLayout="row" fxLayoutAlign="space-between center">
              <h2 class="spaced">Sub Total:</h2>
              <p class="large bold" fxFlexAlign="end center">Ksh {{ selection['totalCharge'] | number}}</p>
            </div>
            <div class="section-row" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="large spaced">Points redeemed</p>
              <p class="large" fxFlexAlign="end center">Ksh {{ (checkout.value.points || 0 ) | number }}</p>
            </div>
            <div class="section-row padded" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="large spaced">Savings</p>
              <p class="large" fxFlexAlign="end center">Ksh {{ (checkout.value.wallet || 0) | number }}</p>
            </div>
            <!-- <div class="section-row padded" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="large spaced">You've saved</p>
              <p class="large" fxFlexAlign="end center">{{ percentageSavings | percent }}</p>
            </div> -->
            <!-- Totals -->
            <div class="row-divider"></div>
            <div class="section-row-total" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="large spaced ultra-bold">Total</p>
              <p class="large spaced ultra-bold" fxFlexAlign="end center">KES {{ totalCharge | number }}</p>
            </div>

            <!-- Proceed to pay button -->
            <div class="btn-group">
              <!-- <button matRipple class="users-cta-solid-lg full-width capitalize" (click)="goPay()"
                *ngIf="isGuestOrLoggedIn && !deferPayment && checkout.valid"
                [attr.title]="deferPayment ? 'Head over to your account bookings to complete payment': ''">
                Proceed to payment
              </button>

              <button mat-raised-button class="capitalize full-width" [disabled]="!isGuestOrLoggedIn || deferPayment"
                *ngIf="(!isGuestOrLoggedIn || deferPayment) && !checkout.valid"
                title="Log in to activate this button">Proceed to
                payment</button> -->

              <button type="submit" class="capitalize full-width" mat-raised-button color="accent"
                [disabled]="!isGuestOrLoggedIn || !checkout.valid">
                Proeed to payment
              </button>
            </div>

            <!-- This is how it would be I guess  -->
            <!-- <button matRipple class="btn-stroked--primary users-cta full-width capitalize" (click)="payLater()"
              *ngIf="isLoggedIn && !deferPayment && !disablePayLater" disabled
              title="We've disabled this feature for now.">
              Pay later
            </button>

            <button mat-raised-button class="capitalize full-width" [disabled]="!isLoggedIn"
              *ngIf="!isLoggedIn || disablePayLater"
              [attr.title]="isLoggedIn ? 'Save your selection' : 'You need to have an account to do that'">Pay later
            </button> -->
            <button type="submit" class="capitalize full-width" mat-raised-button color="accent"
              [disabled]="!isLoggedIn || disablePayLater"
              [attr.title]="disablePayLater ? 'We have disabled this feature for now' : 'You need to have an account to do this.'">Pay
              later</button>
          </section>
        </form>
      </mat-card-content>
    </mat-card>
  </aside>
</div>
