@font-face {
  font-family: 'izaura';
  src:  url('fonts/izaura.eot?56msd5');
  src:  url('fonts/izaura.eot?56msd5#iefix') format('embedded-opentype'),
    url('fonts/izaura.ttf?56msd5') format('truetype'),
    url('fonts/izaura.woff?56msd5') format('woff'),
    url('fonts/izaura.svg?56msd5#izaura') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'izaura' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
