<div class="sPanel" style="background-color: #eaeaea;" *ngIf="pageReady; else loading">
  <mat-horizontal-stepper labelPosition="bottom" style="background-color: #eaeaea;" #stepper>
    <mat-step label="View package details" [completed]="details">
      <div class="fxContainer shadow bordered" fxLayout="row" fxLayoutAlign="space-between start">
        <!-- Main section -->
        <section class="sPanel bg-white bottom-padded border-right" fxFlex="74">
          <header fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Title -->
            <div class="padded">
              <h2>{{ package[4] }}</h2>
              <span class="byline">Standard package</span>
            </div>

            <!-- Share icon -->
            <button fxFlexAlign="end center" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Share">
              <mat-icon>share</mat-icon>
              <mat-menu #menu="matMenu">
                <h2 class="share-heading">Share</h2>
                <button mat-menu-item>
                  <i class="icon-facebook social--facebook share-icon"></i>
                  <span>Facebook</span>
                </button>
                <button mat-menu-item>
                  <i class="icon-twitter social--twitter share-icon"></i>
                  <span>Twitter</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>email</mat-icon>
                  <span>Email</span>
                </button>
                <mat-form-field class="share-link" (click)="copyLink(share)">
                  <input matInput placeholder="{{shareLink}}" #share value="https://izaurasafaris.com/{{url}}">
                </mat-form-field>
              </mat-menu>
            </button>
          </header>

          <main>
            <figure>
              <ngx-gallery class="img-responsive" [options]="galleryOptions" [images]="packageImages"></ngx-gallery>
            </figure>

            <div class="package-details padding-top">
              <!-- Overview -->
              <section class="package-details__overview">
                <div class="headline">
                  <h1 class="overview-headline">Overview</h1>
                </div>
                <p>{{ package[6] }}</p>
              </section>

              <!-- Itinerary -->
              <section class="package-details__itinerary top-padded-2x">
                <h2>Proposed itinerary</h2>
                <ul class="sPanel">
                  <li *ngFor="let itineraryItem of itinerary">
                    <strong class="small">Day {{ itineraryItem[2]}}: {{itineraryItem[3]}}</strong>
                    <mat-list>
                      <p class="small">{{ itineraryItem[4] }}</p>
                    </mat-list>
                  </li>
                </ul>
              </section>

              <!-- Cta -->
              <section class="right__cta panel--sm">
                <button class="capitalize" mat-raised-button color="accent"
                  (click)="packageSummaryDialog(standardPackage, true)">Proceed</button>
              </section>
            </div>
          </main>
        </section>

        <!-- Sidebar -->
        <aside class="panel" fxFlex="26">
          <div fxLayout="column" fxLayoutAlign="stretch center">
            <span class="package-price capitalize">Kes {{ package[7] | number}}</span>
            <span class="byline-small">Per Person Sharing</span>
            <div class="group-departure center-text top-padded-sm" fxLayout="column" *ngIf="package[9]">
              <p class="byline-small bold">We have a group departure for:</p>
              <p class="byline bold">{{ package[13] | date }}</p>
              <span class="tiny-text">(There's more | Optional)</span>
            </div>
            <span class="top-padded-sm"></span>
            <button mat-stroked-button color="warn" matSteperNext (click)="customOptions(stepper)">Next</button>
            <span class="top-padded"></span>
            <button mat-raised-button color="accent" class="capitalize full-width"
              (click)="packageSummaryDialog(standardPackage, true)">Select package</button>
          </div>

          <div class="top-padded-2x center-text">
            <p class="small bold center-text">Have questions?</p>
            <p>Email: <span class="accent">support@izaurasafaris.com</span></p>
            <p>Call: <span class="accent">+254707837682</span></p>
          </div>

          <div class="top-padded-2x">
            <p class="small bold center-text capitalize">Send Enquiry</p>

            <form class="package-details__aside--form" action="">
              <mat-form-field class="full-width">
                <input matInput placeholder="Full name">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Phone">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Enter your message"></textarea>
              </mat-form-field>
              <button mat-stroked-button color="accent" class="capitalize full-width">Send</button>
            </form>
          </div>
        </aside>
      </div>
    </mat-step>

    <mat-step label="Transport and accommodation options" optional [completed]="tacOptions">
      <div class="fxContainer">
        <h2 class="top-padded bundle-head">Available transport and accommodation options</h2>
        <!-- If the package has no bundles -->
        <section class="packages_wrap" *ngIf="antPackages?.length !== 3">
          <article class="package-row" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let hotel of antPackages">
            <figure class="relative" fxFlex="28" [appBgImage]="hotel['featuredImage']">
              <p class="bundle-title-{{hotel['fk_tag']}} panel--xs center-text white">{{ hotel['fk_tag'] }}</p>
            </figure>

            <div class="package-row__info" fxFlex="71">
              <div class="package-row__info--title" fxLayout="row">
                <h4 class="bold link" fxFlex (click)="openHotelDialog(hotel['hotelId'])">
                  {{ hotel['hotelName'] }} - {{ package[9] }} Nights
                </h4>
                <p class="small"></p>
              </div>

              <p class="small">{{ hotel['hotelOverview'] | truncate:255:true }}</p>

              <div class="package-row__info--bottom" fxLayout="row" fxLayoutAlign="space-between flex-end">
                <div class="package-row--billing">
                  <h5>Single Room Starting @ KES {{hotel['singleRoomPrice'] }} per night</h5>
                  <h5>Double Room Starting @ KES {{ hotel['doubleRoomPrice'] }} per night</h5>
                </div>
                <button mat-raised-button color="accent" (click)="hotelSummaryDialog(hotel, false)">Select</button>
              </div>
            </div>
          </article>
        </section>

        <!-- Package cards -->
        <section class="package-pricing top-padded card-container" *ngIf="antPackages?.length==3">
          <mat-card class="package-pricing--card fxCard" *ngFor="let pkg of priceCards | keyvalue">
            <div class="package-pricing__header bundle-{{pkg.key}} center-text">
              <p><sup class="sup">Ksh </sup>
                <span class="bundle-price">{{pkg.value['tPrice']*1 + pkg.value['singleRoom']*1 | number}}</span>
              </p>
              <span class="small">per person</span>
              <p class="bundle-title panel--xs">{{pkg.key}}</p>
            </div>
            <div class="package-pricing__body">
              <p class="item">{{pkg.value['tMeans']}}</p>
              <p class="item">Stay at <strong>{{pkg.value['hotel']}}</strong></p>
              <p class="item">Meals on <strong>{{pkg.value['boardType']}}</strong> basis</p>
              <p class="item medium" (click)="openHotelDialog(pkg.value['hotelId'])">
                <span class="user-link bold small link-underlined">View hotel</span>
              </p>
            </div>

            <div class="package-pricing__cta center-text">
              <span class="bundle-{{pkg.key}}">
                <button mat-flat-button class="capitalize" (click)="packageSummaryDialog(pkg.value, true)">Select
                  package</button>
              </span>
            </div>
          </mat-card>
        </section>
      </div>
    </mat-step>

    <mat-step label="Checkout">
      <app-checkout [selection]="userSelection"></app-checkout>
    </mat-step>
  </mat-horizontal-stepper>
</div>


<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>{{ loadStatus }}</p>
  </div>
</ng-template>
