<nav class="icon-grey" fxLayout="row" fxLayoutAlign="end center">
  <mat-icon matRipple class="pointer" (click)="dialogRef.close()">close</mat-icon>
</nav>

<div class="spacer"></div>

<div class="item-container">
  <p class="item-title light-weight center-text">Confirm payment</p>
  <form #form="ngForm" (ngSubmit)="confirmPayment()" fxLayout="column">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Transaction Id</mat-label>
      <input matInput type="text" placeholder="Transaction Id" name="transactionId" ngModel required />
    </mat-form-field>

    <button type="submit" mat-flat-button color="accent" class="full-width capitalize" [disabled]="!form.valid"
      *ngIf="!processing">
      Submit
    </button>
  </form>
  <div class="flash-message-danger" *ngIf="flash" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="tcell" fxFlex="90">We could not confirm your booking. Please try again.</p>
    <span class="pointer" (click)="closeFlash()" fxFlex="5">&times;</span>
  </div>

  <div class="loading-container-section" *ngIf="processing">
    <mat-spinner diameter=25></mat-spinner>
    <p class="tcell">Processing...</p>
  </div>
</div>
