<nav class="icon-grey" fxLayout="row" fxLayoutAlign="end center">
  <mat-icon matRipple class="pointer" (click)="dialogRef.close()">close</mat-icon>
</nav>
<!-- The spacing from the top -->
<div class="spacer"></div>
<!-- This is where the magic happens -->
<ng-container [ngSwitch]="data.item">
  <div class="add_nationalId item-container" *ngSwitchCase="'nationalId'">
    <p class="item-title light-weight center-text" *ngIf="data.action=='add'">Add your national Id</p>
    <p class="item-title light-weight center-text" *ngIf="data.action=='edit'">Edit your national Id</p>
    <p *ngIf="data.action=='edit'">Your national id: {{ data.pLoad }}</p>
    <form #form="ngForm" (ngSubmit)="addNationalId()">
      <mat-form-field appearance="outline" *ngIf="data.action=='add'">
        <mat-label>National Id</mat-label>
        <input matInput placeholder="12345678" name="id" ngModel required minlength="7" maxlength="8" #id>
        <mat-error *ngIf="id.errors && (id.dirty || id.touched)">
          <span *ngIf="id.hasError('required')">This value is required</span>
          <span *ngIf="id.hasError('minlength')">Too short</span>
          <span *ngIf="id.hasError('maxlength')">Too long</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="data.action=='edit'">
        <mat-label>National Id</mat-label>
        <input matInput matinput matInput [placeholder]="data.pLoad" name="id" ngModel required minlength="7"
          maxlength="8" #id>
        <mat-error *ngIf="id.errors && (id.dirty || id.touched)">
          <span *ngIf="id.hasError('required')">This value is required</span>
          <span *ngIf="id.hasError('minlength')">Too short</span>
          <span *ngIf="id.hasError('maxlength')">Too long</span>
        </mat-error>
      </mat-form-field>

      <button mat-outline-button type="submit" [disabled]="!form.invalid">
        Add national Id
      </button>
    </form>
  </div>

  <!-- Add passport number -->
  <div class="add_passport item-container" *ngSwitchCase="'passport'">
    <p class="item-title light-weight" *ngIf="data.action=='add'">Enter your passport number</p>
    <p class="item-title light-weight" *ngIf="data.action=='edit'">Fix a minor typo</p>
    <p *ngIf="data.action=='edit'">Note that to change the country of issue, you have to
      <span class="link"> Contact Us</span>
    </p>
    <form #form="ngForm" (ngSubmit)="addPassport()" fxLayout="column">
      <!-- The actual passport number -->
      <mat-form-field appearance="outline" *ngIf="data.action=='add'" class="full-width">
        <mat-label>Passport</mat-label>
        <input matInput type="text" name="passport" placeholder="KQ45TJ231P" ngModel required minlength="8" #passport>
        <mat-error *ngIf="passport.errors && (passport.dirty || passport.touched)">
          <span *ngIf="passport.hasError('required')">Passport is required</span>
          <span *ngIf="passport.hasError('minlength')">Too short</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="data.action=='edit'" class="full-width">
        <mat-label>Passport</mat-label>
        <input matInput type="text" matinput matInput name="passport" [placeholder]="data.pLoad" ngModel required
          minlength="8" #passport>
        <mat-error *ngIf="passport.errors && (passport.dirty || passport.touched)">
          <span *ngIf="passport.hasError('required')">Passport is required</span>
          <span *ngIf="passport.hasError('minlength')">Too short</span>
        </mat-error>
      </mat-form-field>

      <!-- Country of issue -->
      <mat-form-field appearance="outline" *ngIf="data.action=='add'" class="full-width">
        <mat-label>Issued in country / region</mat-label>
        <mat-select placeholder="Issuing country / Region" name="country" ngModel required #country>
          <mat-option *ngFor="let country of countries" [value]="country['name']">{{ country['name'] }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-flat-button color="accent" [disabled]="!form.valid" class="full-width capitalize">
        Add passport
      </button>
    </form>
  </div>

  <!-- Add secondary email -->
  <div class="add_email item-container" *ngSwitchCase="'email'">
    <p class="item-title light-weight">Add an email address</p>
    <form #form="ngForm" (ngSubmit)="addEmail()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email address</mat-label>
        <input matInput name="email" placeholder="email@example.com" ngModel required pattern="[^ @]*@[^ @]*" #email>
        <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
          <span *ngIf="email.hasError('required')">Email is required</span>
          <span *ngIf="email.hassError('pattern')">Email is not valid</span>
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-flat-button [disabled]="!form.valid" class="full-width" color="accent">
        Add an email address
      </button>
    </form>
  </div>

  <!-- Add secondary phone -->
  <div class="add_phone item-container" *ngSwitchCase="'phone'">
    <p class="item-title light-weight" *ngIf="data.action=='add'">Add a phone number</p>
    <p class="item-title light-weight" *ngIf="data.action=='edit'">Edit your phone number</p>
    <!-- <p>Your current phone number: {{ data.pLoad['phone'] }}</p> -->
    <form #form="ngForm" (ngSubmit)="addPhone()">
      <!-- Phone type -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Phone type</mat-label>
        <mat-select name="type" ngModel required>
          <mat-option *ngFor="let type of phoneTypes" [value]="type"> {{ type | capitalize }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Phone number -->
      <mat-form-field appearance="outline" *ngIf="data.action=='add'" class="full-width">
        <input matInput type="tel" id="phone" name="phone" required ngModel #phone (ngModelChange)="validPhone()">
        <mat-error *ngIf="phone.errors || !isValid && (phone.dirty || phone.touched)">
          <span *ngIf="phone.hasError('required')">Phone is required</span>
          <span>{{ errorMap[errorCode] }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="data.action=='edit'" class="full-width">
        <mat-label>Your current phone number</mat-label>
        <input matInput type="tel" name="phone" [placeholder]="data.pLoad['phone']" required ngModel #phone>
        <mat-error *ngIf="phone.errors && (phone.dirty || phone.touched)">
          <span *ngIf="phone.hasError('required')">Phone is required</span>
        </mat-error>
      </mat-form-field>

      <mat-checkbox name="primary" ngModel class="full-width">
        Make this my primary phone
      </mat-checkbox>

      <p class="top-padded small">Adding my number confirms that I'm authorized to add this number and consent to
        receiving autodialed and prereorded alls and texts for the reasons descrbed in our <span
          class="bold accent link">User Agreement</span> and the <span class="bold accent link">Privacy Policy</span>.
        Standard rates may apply.</p>

      <button type="submit" mat-flat-button [disabled]="!form.valid" color="accent" class="full-width btn">
        Add Number
      </button>
    </form>
  </div>

  <!-- Fix name typo -->
  <div class="edit_name item-container" *ngSwitchCase="'name'">
    <p class="item-title light-weight">Fix a minor typo</p>
    <p class="space-bottom"><strong>Current name:</strong> {{ data.pLoad }}</p>
    <form #form="ngForm" (ngSubmit)="editName()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>First name</mat-label>
        <input matInput type="text" name="fname" ngModel [maxLength]="3" #fname>
        <mat-error *ngIf="fname.errors && (fname.dirty || fname.touched)">
          <span *ngIf="fname.hasError('maxLength')">A typo implies a 1 or 2 character difference.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Last name</mat-label>
        <input matInput type="text" name="lname" ngModel [maxLength]="3" #lname>
        <mat-error *ngIf="lname.errors && (lname.dirty || lname.touched)">
          <span *ngIf="lname.hasError('maxLength')">A typo implies a 1 or 2 character difference.</span>
        </mat-error>
      </mat-form-field>

      <mat-checkbox name="update" ngModel>I'd like to update my name</mat-checkbox>

      <button type="submit" mat-flat-button [disabled]="!form.valid" class="full-width btn" color="accent">
        Update Name
      </button>
    </form>
  </div>
</ng-container>
