.spacer {
  padding-top: 3em;
}

button {
  margin-top: 0.5em;
  padding: 12px 0;
}

/* Add top spacing for the Add phone number button */
.btn {
  margin-top: 1.5em;
}

/* The paragraph that shows the pLoad on either phone or name */
.space-bottom {
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .item-container {
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .item-container {
    width: 100%;
  }
}

.item-title {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 1em;
}
