<header fxLayout="row" fxLayoutAlign="space-between center">
  <div class="padded">
    <h2>Fill in the form below</h2>
    <span class="byline">We've captured your selections. Fill in the form below and one of our representatives will be
      in touch soon.</span>
  </div>
</header>

<form class="top-padded" novalidate #f="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="First name" name="fname" ngModel required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Last name" name="lname" ngModel required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="email" matInput placeholder="Email" name="email" ngModel required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Phone number" name="phone" ngModel required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="More info - date of travel, budget, number of days etc" name="message"
      ngModel></textarea>
  </mat-form-field>

  <section class="right__cta panel--sm">
    <button class="capitalize pointer" mat-flat-button disabled>Send</button>
    <span style="margin-right: 1em;"></span>
    <button class="capitalize pointer" mat-flat-button color="accent">Submit</button>
  </section>
</form>
