<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="inboundSidenav panel vertical-scroll" [opened]="sidebarState"
    style="background-color: #fafafa;">

    <div class="headline">
      <h1>Holiday Criteria</h1>
    </div>
    <form style="margin-top: 1em;" #form="ngForm" (ngSubmit)="onSubmit()">
      <!-- Select Destination -->
      <mat-form-field>
        <mat-select placeholder="Destination" name="destination" [(ngModel)]="model.destination" required>
          <mat-option *ngFor="let dest of destinations" [value]="dest[1]">{{ dest[1] }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Holiday type -->
      <mat-form-field>
        <mat-select placeholder="Type" name="holidayType" [(ngModel)]="model.holidayTypes" required
          #holidayType="ngModel" multiple>
          <mat-option *ngFor="let type of destinationTypes | filter:1:model.destination" [value]="type[2]">
            {{ type[2] | capitalize }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Start Date -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start date" name="date" ngModel required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Durations -->
      <div class="durations" ngModelGroup="durations">
        <!-- General duration -->
        <mat-form-field [class.hidden]="holidayType.valid && holidayType.dirty" fxHide>
          <mat-select placeholder="Duration" name="duration" ngModel>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }} nights</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Dynamic durations based on what is selected -->
        <mat-form-field *ngFor="let holidayType of model.holidayTypes; let i = index"
          [class.hidden]="holidayType.invalid && holidayType.pristine">
          <mat-select placeholder="{{holidayType}} duration" name="{{model.holidayTypes[i]}}" ngModel required>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }} nights</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Travelling People -->
      <div class="travellers" fxLayout="row" fxLayoutAlign="space-between" ngModelGroup="travellers">
        <!-- Adults -->
        <mat-form-field fxFlex="40">
          <mat-select placeholder="Adults" name="adults" ngModel required>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Children -->
        <mat-form-field fxFlex="40">
          <mat-select placeholder="Children" name="children" ngModel>
            <mat-option value="0">None</mat-option>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Rooms Titles -->
      <!-- <div class="rooms-titles" fxLayout="row" fxLayoutAlign="space-between">
        <p class="tiny-text bold">Single Rooms</p>
        <p class="tiny-text bold">Double Rooms</p>
      </div> -->
      <!-- Rooms -->
      <!-- <div class="rooms" fxLayout="row" fxLayoutAlign="space-between" ngModelGroup="rooms">
        <mat-form-field fxFlex="48">
          <mat-select placeholder="Single"
            disabled="true"
            name="single"
            ngModel>
            <mat-option value="0">None</mat-option>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="48">
          <mat-select placeholder="Double"
            disabled="true"
            name="double"
            ngModel>
            <mat-option value="0">None</mat-option>
            <mat-option *ngFor="let count of counter" [value]="count">{{ count }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

      <mat-radio-group name="residency" [(ngModel)]="residency" fxLayout="row" fxLayoutGap="0.6em"
        class="bottom-padded">
        <mat-radio-button class="small-text" *ngFor="let res of residentTypes" [value]="res">
          {{ res | capitalize }}
        </mat-radio-button>
      </mat-radio-group>

      <p class="small-text bold" style="margin-bottom: 0.6em">Are you booking from Kenya?</p>
      <mat-radio-group name="location" fxLayout="row" fxLayoutAlign="space-between" class="bottom-padded" ngModel>
        <mat-radio-button class="small-text" value="Kenya">Yes</mat-radio-button>
        <mat-radio-button class="small-text" value="Other">No</mat-radio-button>
      </mat-radio-group>

      <button mat-raised-button color="accent" [disabled]="!validForm">Search</button>
    </form>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Tab group -->
    <div class="panel--sm" [class.hidden]="searched">
      <mat-tab-group dynamicHeight>
        <mat-tab label="POPULAR PACKAGES">
          <!-- Filter chips -->
          <mat-chip-list class="filter-chips">
            <mat-chip [selected]="destinationFilter=='All'" (click)="filterDestinations('All')">All destinations
            </mat-chip>
            <mat-chip *ngFor="let destination of destinations" (click)="filterDestinations(destination[1])"
              [selected]="destinationFilter==destination[1]">
              {{destination[1]}}
            </mat-chip>
          </mat-chip-list>

          <div class="card-container">
            <mat-card *ngFor="let package of packages | filter:7:destinationFilter; let i = index">
              <figure>
                <img mat-card-image src="{{package[2]}}" alt="{{package[1]}}">
              </figure>
              <mat-card-content>
                <h4 class="bold pointer" (click)="fetchPackageDetails(package[7], package[0])">
                  <a>{{package[1] | capitalize:true }}</a>
                </h4>
                <p>{{package[3] | truncate:120:true}}</p>
              </mat-card-content>

              <mat-card-footer class="package-card-footer">
                <div class="card-footer__pricing">
                  <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
                  <h5 class="capitalize card-footer__pricing--price">Kes {{ package[4] }}</h5>
                </div>
                <mat-card-actions class="card-footer__cta">
                  <button class="capitalize" mat-stroked-button color="accent"
                    (click)="fetchPackageDetails(package[7], package[0])">
                    View details
                  </button>
                </mat-card-actions>

                <span class="favorite" [class.saved]="isSaved(package[0])" appFavToggle
                  (click)="toggleFavorite(package[0], favorites[i])"
                  [attr.title]="isSaved(package[0]) ? 'Remove from favorites': 'Add to favorites'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="-50 -50 1100 1100">
                    <path
                      d="M109,618.7c60.8,80.6,139.8,145.3,222,203.8c0,0,98,67.9,143,99.5c16.6,11.1,37.9,11.1,53.7,0c45-31.6,142.2-99.5,142.2-99.5C752,764,829.4,700,891,618.7c52.1-69.5,90.8-151.7,97.9-238.6c12.6-158-89.3-309.6-258.3-309.6c-98.7,0-185.6,53.7-229.9,133.5C455,123.4,368.9,69.7,270.1,69.7C101.9,69.7-1.6,221.4,11,379.3C18.2,466.2,56.1,549.2,109,618.7z"
                      stroke="#fff" stroke-width="80" fill="none"></path>
                  </svg>
                </span>
              </mat-card-footer>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab label="CUSTOMIZE" style="background-color: #eaeaea;">
          <div class="customize" fxLayout="row">
            <!-- The locations -->
            <section class="customize__locations" fxFlex="78">
              <div class="card-container">
                <mat-card class="fxCard"
                  *ngFor="let location of locations | filterdown:6:country | filterdown:7:holidayTypes | filterdown:8:city_or_town">
                  <figure>
                    <img mat-card-image src="{{location[3]}}">
                  </figure>

                  <mat-card-content>
                    <h4 class="bold pointer" (click)="getLocationsImages(location)">
                      <a>{{location[1]}}</a>
                    </h4>
                    <p>{{ location[4] | truncate:120:true }}</p>
                    <div class="top-padded-sm">
                      <p class="small bold">{{ location[5] | currency:'KES' }} per person</p>
                    </div>
                  </mat-card-content>
                  <button mat-button>
                    <mat-checkbox [ngModel]="isSelected(location[1])"
                      (change)="toggleLocation(location[1], location[6])">Add To Itinerary</mat-checkbox>
                  </button>

                </mat-card>
              </div>
            </section>

            <!-- The filters on the right -->
            <aside class="customize__filters panel" fxFlex="22">
              <h5>Filters</h5>
              <form #f="ngForm">
                <!-- Filter by country -->
                <div class="customize__filters--countries" ngModelGroup="countries" fxLayout="column">
                  <p class="small bold">Countries</p>
                  <mat-checkbox *ngFor="let dest of destinations; let i = index" name="{{dest[1]}}" ngModel
                    (click)="filterCountry(dest[1])">
                    {{ dest[1] }}
                  </mat-checkbox>
                </div>

                <div class="customize__filters--countries panel--top" ngModelGroup="holidayTypes" fxLayout="column">
                  <p class="small bold">Holiday types</p>
                  <mat-checkbox *ngFor="let type of types" name="{{type[1]}}" ngModel
                    (click)="filterHolidayType(type[1])">
                    {{ type[1] | capitalize }}
                  </mat-checkbox>
                </div>

                <div class="customize__filters--countries" ngModelGroup="locations" fxLayout="column">
                  <p class="small bold">Places</p>
                  <mat-checkbox *ngFor="let place of places | filterdown:2:country" name="{{place[1]}}" ngModel
                    (click)="filterCity(place[1])">
                    {{ place[1] | titlecase | truncate:18:true }}
                  </mat-checkbox>
                  <p class="small" *ngIf="(places | filterdown:2:country)?.length === 0">None available</p>
                </div>

                <div class="top-padded">
                  <button class="capitalize full-width" mat-raised-button color="accent"
                    (click)="openFormDialog()">Submit</button>
                </div>
              </form>
            </aside>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="padded bg-material" [class.hidden]="!searched">
      <mat-horizontal-stepper class="bg-material" #stepper>
        <!-- Dynamic stepper -->
        <mat-step *ngFor="let step of model.holidayTypes; let i = index" [completed]="">
          <ng-template matStepLabel>Select Your {{ step | capitalize }} Holiday</ng-template>
          <section class="stepper-content">
            <article class="package-row" *ngFor="let package of packages | filter:8:step" fxLayout="row"
              fxLayoutAlign="space-between">
              <figure fxFlex="26" [appBgImage]="package[2]"></figure>

              <div class="package-row__info" fxFlex="73">
                <div class="package-row__info--title" fxLayout="row">
                  <h4 class="bold link" fxFlex (click)="fetchPackageDetails(package[7], package[0])">
                    {{ package[1] }} - {{ package[5] }} Days
                  </h4>
                  <p class="small">{{ package[6 ]}} Nights</p>
                </div>

                <p class="small">{{ package[3] | truncate:235:true }}</p>

                <div class="package-row__info--bottom" fxLayout="row" fxLayoutAlign="space-between flex-end">
                  <div class="package-row--billing">
                    <h5>Starting @ KES {{ package[4] }} / person sharing</h5>
                    <span class="tiny-text">(Standard package)</span>
                    <!-- <h5>Standard Package</h5> -->
                  </div>
                  <button mat-raised-button color="accent" matStepperNext (click)="nextStep(package[0], i)">Select
                  </button>
                </div>
              </div>
            </article>
          </section>
        </mat-step>

        <!-- Accommodation -->
        <mat-step>
          <ng-template matStepLabel>Accommodation options</ng-template>
          <main *ngIf="accData; else loading">
            <section *ngFor="let packages of accPackages | keyvalue; let i = index" #accOptions>
              <div class="headline">
                <h1>Select your {{ stepTitles[i] }} holiday accommodation</h1>
              </div>
              <!-- Display bundles if 3 -->
              <!-- <div class="package-pricing card-container padded-md" *ngIf="packages.value?.length==3">
                <mat-card class="package-pricing--card fxCard" *ngFor="let pkg of packages.value">
                  <div class="package-pricing__header bundle-{{pkg['pkgTag']}} center-text">
                    <p><sup class="sup">Ksh </sup>
                      <span class="bundle-price">{{ pkg['doubleRoomPrice'] }}</span>
                    </p>
                    <span class="small">per person</span>
                    <p class="bundle-title panel--xs">{{pkg['pkgTag']}}</p>
                  </div>
                  <div class="package-pricing__body">
                    <p class="item">Stay at <strong>{{ pkg['hotelName'] }}</strong></p>
                    <p class="item">Meals on <strong>{{ pkg['fk_boardType'] }}</strong> basis</p>
                    <p class="item medium" (click)="openHotelDialog(packages.key, pkg['hotelId'])">
                      <span class="user-link bold small link-underlined">View hotel</span>
                    </p>
                  </div>

                  <div class="package-pricing__cta center-text">
                    <span class="bundle-{{pkg['pkgTag']}}" *ngIf="!(pkg['hotelId']==selectedHotels[stepTitles[i]]['hotelId'])">
                      <button mat-flat-button class="capitalize"
                        (click)="selectHotel(pkg, stepTitles[i], true)">Select package
                      </button>
                    </span>
                    <div class="theme--success"
                      *ngIf="pkg['hotelId']==selectedHotels[stepTitles[i]]['hotelId']"
                      fxLayout="row"
                      fxLayoutAlign="center center">
                      <mat-icon>check_circle</mat-icon>
                      <span>Selected</span>
                    </div>
                  </div>
                </mat-card>
              </div> -->

              <!-- Show list of options if not 3 -->
              <!-- *ngIf="packages.value?.length!=3" -->
              <div class="packages_wrap padded-md">
                <!-- Button toggle group -->
                <!-- <mat-button-toggle-group #group="matButtonToggleGroup">
                  <mat-button-toggle *ngFor="let hotel of packages.value" [value]="hotel" (click)="selectHotel(hotel, stepTitles[i])">
                    {{hotel['hotelName']}}
                  </mat-button-toggle>
                </mat-button-toggle-group> -->
                <!-- Hotel rows -->
                <article class="package-row" fxLayout="row" fxLayoutAlign="space-between"
                  *ngFor="let hotel of packages.value">
                  <figure class="relative" fxFlex="28" [appBgImage]="hotel['featuredImage']">
                    <!-- <p class="bundle-title-{{hotel['pkgTag']}} panel--xs center-text white">{{ hotel['pkgTag'] }}</p> -->
                    <span class="ribbon {{hotel['pkgTag']}}-ribbon">
                      <span>{{ hotel['pkgTag'] | capitalize }}</span>
                    </span>
                  </figure>

                  <div class="package-row__info" fxFlex="71">
                    <div class="package-row__info--title" fxLayout="row">
                      <h4 class="bold link" fxFlex (click)="openHotelDialog(packages.key, hotel['hotelId'])">
                        {{ hotel['hotelName'] }}
                      </h4>
                      <div class="theme--success" *ngIf="hotel['hotelId']==selectedHotels[stepTitles[i]]['hotelId']"
                        fxLayout="row" fxLayoutAlign="end start">
                        <mat-icon>check_circle</mat-icon>
                        <span>Selected</span>
                      </div>
                    </div>

                    <p class="small">{{ hotel['hotelOverview'] | truncate:255:true }}</p>

                    <div class="package-row__info--bottom" fxLayout="row" fxLayoutAlign="space-between flex-end">
                      <div class="package-row--billing">
                        <h5>Single Room Starting @ KES {{hotel['singleRoomPrice'] }} per night</h5>
                        <h5>Double Room Starting @ KES {{ hotel['doubleRoomPrice'] }} per night</h5>
                      </div>
                      <button mat-raised-button color="accent" (click)="selectHotel(hotel, stepTitles[i], false, i)"
                        [disabled]="hotel['hotelId']==selectedHotels[stepTitles[i]]['hotelId']">Select
                      </button>
                    </div>
                  </div>
                </article>
              </div>
            </section>

            <div class="top-padded" #proceed>
              <button mat-stroked-button color="accent" class="full-width"
                (click)="packageSummaryDialog()">Proceed</button>
            </div>
          </main>

          <!-- Loading spinner as we fetch accommodation options -->
          <ng-template #loading>
            <div style="min-height:80vh;">
              <div class="loading-container-inbound">
                <mat-spinner></mat-spinner>
                <p>Fetching accommodation options...</p>
              </div>
            </div>
          </ng-template>
        </mat-step>

        <!-- Checkout -->
        <mat-step>
          <ng-template matStepLabel>Checkout</ng-template>
          <app-checkout [selection]="userSelection"></app-checkout>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
