form > * {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 670px) {
  .panel {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.inboundSidenav {
  width: 235px;
}

.rooms-titles {
  h5 {
    color: rgba(0,0,0,0.42);
  }
}
