mat-toolbar {
  color: #fff;
}

/* The login | favorites section of the navigation */
.dashboard {
  display: flex;
}

.dashboard p {
  padding-left: 15px;

  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(218, 136, 15);
    font-size: 14px;
    font-weight: bold;
    &:hover {
      color: rgb(218, 136, 15);
      cursor: pointer;
      border-bottom: 1px solid rgb(218, 136, 15);

    }
    &:active {
      color: rgb(218, 136, 15);
      cursor: pointer;
      border-bottom: 1px solid rgb(218, 136, 15);
    }
  }

  &::after {
    content: "|";
    margin-left: 15px;
    color: grey;
  }
  &:last-child::after {
    content: "";
    margin: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 230px;
}
.izaura-safaris {
  padding: 0 1em;
  font-size: 1.2em;
  text-transform: uppercase;
}
.sidenav-header {
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}

/* Handle the Izaura Safaris display when the screen on mobile */
@media (min-width: 600px) {
  .sidenav-toggle {
    justify-content: center !important;
  }
  .izaura-safaris {
    display: none;
  }
}

footer mat-icon {
  margin-right: 1em;
}
/* Footer Styles */
.info > * {
  padding: 15px;
}
.copyright {
  padding: 12px;
}
.footer-social-icons {
  margin: 1em auto;
}
