<!--The content below is only a placeholder and can be replaced.-->
<div id="site-wrapper">
  <section class="fxContainer">
    <header fxHide.xs>
      <div class="navbar">
        <div class="navbar__item--logo pointer">
          <img src="../assets/images/izaura_logo.png" alt="Izaura Safaris Logo" routerLink="/">
        </div>
        <div class="navbar__item--right">
          <div class="navbar--social-icons">
            <a href="https://www.facebook.com/IzauraSafaris/" target="_blank">
              <i class="icon-facebook social--facebook"></i>
            </a>
            <i class="icon-twitter social--twitter"></i>
            <i class="icon-instagram social--instagram"></i>
            <i class="icon-google-plus social--googleplus"></i>
            <i class="icon-whatsapp social--whatsapp"></i>
          </div>

          <ul class="nav">
            <li class="nav__item" routerLink="/"><a>Home</a></li>
            <li class="nav__item" routerLink="/"><a>About Us</a></li>
            <li class="nav__item" routerLink="/"><a>Contact Us</a></li>
            <div class="dashboard" *ngIf="!loggedIn">
              <p><a routerLink="/users/login">Login</a></p>
              <p>
                <a routerLink="/favorites" target="_blank" fxLayout="row" fxLayoutAlign="space-between center"
                  fxLayoutGap="5px">
                  <mat-icon [matBadge]="favCount" matBadgeColor="primary">favorite_border</mat-icon>
                  <span> Favorites</span>
                </a></p>
            </div>

            <div class="dashboard" *ngIf="loggedIn">
              <p class="user" [matMenuTriggerFor]="accountMenu">
                <a fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-icon aria-label="User account">account_circle</mat-icon>
                  <span style="margin-left: 5px;"> {{ fname }}</span>
                  <mat-icon aria-label="Drop down">expand_more</mat-icon>
                </a>
              </p>
            </div>
            <!-- <li class="nav__item"><a routerLink="/users/login">Login</a></li>
            <li class="nav__item"><a routerLink="/users/signup">Sign Up</a></li> -->
          </ul>
        </div>
      </div>
    </header>
    <mat-sidenav-container>
      <mat-toolbar color="accent">
        <button class="sidenav-toggle" mat-button (click)="sidenav.toggle()" fxLayout="row"
          fxLayoutAlign="start center">
          <i class="material-icons">menu</i>
          <span class="izaura-safaris">Izaura Safaris</span>
        </button>
        <nav class="nav" fxHide.xs>
          <a class="capitalize" routerLink="/outbound" mat-button>Outbound Safaris</a>
          <a class="capitalize" routerLink="/inbound" mat-button>Inbound Safaris</a>
          <a class="capitalize" routerLink="/weekends" mat-button>Weekend Events</a>
          <a class="capitalize" mat-button [matMenuTriggerFor]="menu">Seasonal Packages<mat-icon>expand_more</mat-icon>
            </a>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let season of seasons" (click)="close()" (click)="goToSeason(season[1])">
              {{season[1]}}
            </button>
          </mat-menu>

          <a class="capitalize" mat-button routerLink="/contacts">Flights</a>
          <a class="capitalize" mat-button routerLink="/contacts">Blog</a>
        </nav>

        <span class="spacer" fxHide.gt-xs></span>

        <!-- Show button on *ngIf="loggedIn" -->
        <button mat-button fxHide.gt-xs [matMenuTriggerFor]="accountMenu" *ngIf="loggedIn">
          <mat-icon aria-label="User account">account_circle</mat-icon>
          <span> My account</span>
          <mat-icon aria-label="Drop down">expand_more</mat-icon>
        </button>

        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item routerLink="users/myaccount/home">
            <mat-icon>person</mat-icon> <span>My account</span>
          </button>
          <button mat-menu-item routerLink="users/myaccount/bookings">
            <mat-icon>collections_bookmark</mat-icon> <span>Bookings</span>
          </button>
          <button mat-menu-item routerLink="users/myaccount/favorites">
            <mat-icon>favorite</mat-icon> <span>Favorites</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <mat-sidenav #sidenav mode="over">
        <div class="sidenav-header bg-accent" (click)="sidenav.close()">Izaura Safaris</div>
        <mat-nav-list>
          <a mat-list-item routerLink="/" (click)="close()">Home</a>
          <a mat-list-item routerLink="/outbound" (click)="close()">Outbound Safaris</a>
          <a mat-list-item routerLink="/inbound" (click)="close()">Inbound Safaris</a>
          <a mat-list-item (click)="close()">Weekend Events</a>
          <a mat-list-item [matMenuTriggerFor]="menu">Seasonal Packages<mat-icon>expand_more</mat-icon></a>
          <a mat-list-item (click)="close()">Deals</a>
          <a mat-list-item (click)="close()">Blog</a>
        </mat-nav-list>
      </mat-sidenav>

      <!-- Main body of our application -->
      <div class="main-body">

        <router-outlet></router-outlet>

      </div>

      <footer class="panel bg-gradient">
        <!-- Footer main information -->
        <div class="info" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around">
          <div class="col1" fxFlex.gt-xs="40" fxHide.xs>
            <h2>Izaura Safaris</h2>
            <h3>Let's explore together</h3>
            <mat-nav-list>
              <p>Izaura refelcts your desire to avoid monotony while staying attuned to the "system" and normal order of
                things. We get you the best deals in a Gold - Silver - Bronze command structure with customization
                options available while rewarding your loyalty.</p>
              <p>So let's explore together. You got to do it sometime. If not now, when?</p>
            </mat-nav-list>
          </div>
          <div class="col2" fxFlex.gt-xs="25" fxHide.xs>
            <h2>Quicklinks</h2>
            <h3>Navigate the site like a pro!</h3>
            <mat-nav-list>
              <a mat-list-item>About Us</a>
              <mat-divider></mat-divider>
              <a mat-list-item>Login</a>
              <mat-divider></mat-divider>
              <a mat-list-item>Sign Up</a>
            </mat-nav-list>
          </div>
          <div class="col3" fxFlex.gt-xs="25" fxHide.xs>
            <h2>Reach Us</h2>
            <h3>We're always available for you!</h3>
            <mat-nav-list>
              <a mat-list-item>
                <mat-icon>phone</mat-icon>Phone
              </a>
              <mat-divider></mat-divider>
              <a mat-list-item>
                <mat-icon>email</mat-icon>Email
              </a>
              <mat-divider></mat-divider>
              <a mat-list-item>
                <mat-icon>location_on</mat-icon>Our Location
              </a>
            </mat-nav-list>
          </div>
        </div>
        <!-- Copyright Information -->
        <div class="copyright" fxLayout="column" fxLayoutAlign="center center">
          <h2 fxHide.gt-xs>Izaura Safaris</h2>
          <p fxHide.gt-xs style="text-align: center;">We aim to provide you the best travel experiences at the best
            price points anywhere. All our deals have a Gold - Silver - Bronze command stucture, fit for everyone's
            pocket.</p>
          <div class="footer-social-icons mat-icons" fxHide.gt-xs fxLayout="row" fxLayoutAlign="center">
            <mat-icon>info</mat-icon>
            <mat-icon>supervisor_account</mat-icon>
            <mat-icon>phone</mat-icon>
            <mat-icon>email</mat-icon>
            <mat-icon>location_on</mat-icon>
          </div>
          <div class="footer-social-icons" fxLayout="row" fxLayoutAlign="center">
            <i class="icon-facebook social-rounded--facebook"></i>
            <i class="icon-twitter social-rounded--twitter"></i>
            <i class="icon-instagram social-rounded--instagram"></i>
            <i class="icon-whatsapp social-rounded--whatsapp"></i>
            <i class="icon-google-plus social-rounded--googleplus"></i>
          </div>
          <h5>Copyright@2018izaurasafaris.com</h5>
        </div>
      </footer>

    </mat-sidenav-container>
  </section>
</div>

<!-- https://stackblitz.com/edit/angular-zrwsfk -->
