<div class="sPanel" style="background-color: #eaeaea;" *ngIf="pageReady; else loading">
  <mat-horizontal-stepper labelPosition="bottom" style="background-color: #eaeaea;" #stepper>
    <mat-step label="View package details" [completed]="details">
      <div class="fxContainer shadow bordered" fxLayout="row" fxLayoutAlign="space-between start">
        <section class="sPanel bg-white bottom-padded border-right" fxFlex="74">
          <header fxLayout="row" fxLayoutAlign="space-between center">
            <div class="padded">
              <h2>{{event[1]}}</h2>
              <span class="byline">Standard package</span>
            </div>

            <button fxFlexAlign="end center" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Share">
              <mat-icon>share</mat-icon>
              <mat-menu #menu="matMenu">
                <h2 class="share-heading">Share</h2>
                <button mat-menu-item>
                  <i class="icon-facebook social--facebook share-icon"></i>
                  <span>Facebook</span>
                </button>
                <button mat-menu-item>
                  <i class="icon-twitter social--twitter share-icon"></i>
                  <span>Twitter</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>email</mat-icon>
                  <span>Email</span>
                </button>
                <mat-form-field class="share-link" (click)="copyLink(share)">
                  <input matInput placeholder="{{shareLink}}" #share value="https://izaurasafaris.com/{{url}}">
                </mat-form-field>
              </mat-menu>
            </button>
          </header>

          <main>
            <figure>
              <ngx-gallery class="img-responsive" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </figure>

            <div class="package-details top-padded">
              <section class="package-details__overview">
                <div class="headline">
                  <h1 class="overview-headline">Overview</h1>
                </div>
                <p>{{event[3]}}</p>
                <p class="theme--primary pointer">{{event[12]}}</p>
              </section>

              <section class="package-details__itinerary top-padded-2x">
                <h2>Proposed itinerary</h2>
                <ul class="sPanel">
                  <li *ngFor="let itineraryItem of itinerary; let i = index"><strong class="small">Day
                      {{ itineraryItem[2]}}</strong>
                    <mat-list>
                      <div *ngFor="let item of activities[i] | keyvalue" fxLayout="row" fxLayoutGap="0.5em">
                        <p class="tcell" fxFlex="10"><strong>{{item.key}}:</strong></p>
                        <div fxFlex>
                          <p class="tcell" *ngFor="let i of item.value">{{i}}</p>
                        </div>
                      </div>
                    </mat-list>
                  </li>
                </ul>
              </section>

              <section class="package-details__itinerary top-padded-2x">
                <h2>Activities</h2>
                <div class="sPanel">
                  <p *ngFor="let activity of event[13] | split:false">{{activity}}</p>
                </div>
              </section>

              <section class="package-details__itinerary top-padded-2x">
                <h2>This package includes:</h2>
                <div class="sPanel">
                  <p *ngFor="let includes of event[14] | split:false">{{includes}}</p>
                  <p class="small top-padded-sm"><strong>This package excludes anything not mentioned above.</strong>
                  </p>
                </div>
              </section>

              <section class="right__cta panel--sm">
                <button class="capitalize" mat-raised-button color="accent"
                  (click)="packageSummaryDialog(standardPackage, true)">Proceed</button>
              </section>
            </div>
          </main>
        </section>

        <aside class="panel" fxFlex="26">
          <div fxLayout="column" fxLayoutAlign="stretch center">
            <span class="package-price capitalize">Kes {{ event[10] | number}}</span>
            <span class="byline-small">Per Person Sharing</span>
            <div class="group-departure center-text top-padded-sm" fxLayout="column">
              <p class="byline-small bold">We depart on:</p>
              <p class="byline bold">{{ event[8] | date }}</p>
              <span class="tiny-text">(Not optional)</span>
            </div>
            <span class="top-padded-sm"></span>
            <button mat-stroked-button color="warn" matSteperNext (click)="customOptions(stepper)">Customize</button>
            <span class="top-padded"></span>
            <button mat-raised-button color="accent" class="capitalize full-width"
              (click)="packageSummaryDialog(standardPackage, true)">Select package</button>
          </div>

          <div class="top-padded-2x center-text">
            <p class="small bold center-text">Have questions?</p>
            <p>Email: <span class="accent">support@izaurasafaris.com</span></p>
            <p>Call: <span class="accent">+254707837682</span></p>
          </div>

          <div class="top-padded-2x">
            <p class="small bold center-text capitalize">Send Enquiry</p>

            <form class="package-details__aside--form" action="">
              <mat-form-field class="full-width">
                <input matInput placeholder="Full name">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Phone">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Enter your message"></textarea>
              </mat-form-field>
              <button mat-stroked-button color="accent" class="capitalize full-width">Send</button>
            </form>
          </div>
        </aside>
      </div>
    </mat-step>

    <mat-step label="Accommodation and transport options" optional [completed]="tacOptions">
      <div class="fxContainer">
        <!-- Display bundles if there are any -->
        <div class="packages_wrap" *ngIf="antPackages?.length==3">
          <!-- Package cards -->
          <div class="headline">
            <h1 class="overview-headline">Transport and accommodation bundles</h1>
          </div>
          <section class="package-pricing top-padded card-container">
            <mat-card class="package-pricing--card fxCard" *ngFor="let pkg of gssBundles | keyvalue">
              <div class="package-pricing__header bundle-{{pkg.key}} center-text">
                <p><sup class="sup">Ksh </sup>
                  <span class="bundle-price">{{pkg.value['tPrice']*1 + pkg.value['singleRoom']*1 | number}}</span>
                </p>
                <span class="small">per person</span>
                <p class="bundle-title panel--xs">{{pkg.key}}</p>
              </div>
              <div class="package-pricing__body">
                <p class="item">{{pkg.value['transport']}}</p>
                <p class="item">Stay at <strong>{{pkg.value['hotel']}}</strong></p>
                <p class="item">Meals on <strong>{{pkg.value['boardType']}}</strong> basis</p>
                <p class="item medium" (click)="openFromBundle(pkg.key)">
                  <span class="user-link bold small link-underlined">View hotel</span>
                </p>
              </div>

              <div class="package-pricing__cta center-text">
                <span class="bundle-{{pkg.key}}">
                  <button mat-flat-button class="capitalize" (click)="packageSummaryDialog(pkg.value, true)">Select
                    package</button>
                </span>
              </div>
            </mat-card>
          </section>
        </div>

        <!-- Display the individual hotels -->
        <section class="packages_wrap" *ngIf="antPackages?.length!==3">
          <div class="headline top-padded">
            <h1 class="overview-headline">Hotel options</h1>
          </div>
          <article class="package-row" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let hotel of antPackages">
            <figure fxFlex="28" [appBgImage]="hotel['featuredImage']"></figure>

            <div class="package-row__info" fxFlex="71">
              <div class="package-row__info--title" fxLayout="row">
                <h4 class="bold link" fxFlex (click)="openHotelDialog(hotel['hotelId'])"> {{ hotel['hotelName'] }} </h4>
                <p class="small"></p>
              </div>

              <p class="small">{{ hotel['hotelOverview'] | truncate:295:true }}</p>

              <div class="package-row__info--bottom" fxLayout="row" fxLayoutAlign="space-between flex-end">
                <div class="package-row--billing">
                  <h5>Single Room Starting @ KES {{hotel['singleRoomPrice'] }} per night</h5>
                  <h5>Double Room Starting @ KES {{ hotel['doubleRoomPrice'] }} per night</h5>
                </div>
                <button mat-raised-button color="accent" (click)="hotelSummaryDialog(hotel, false)">Select</button>
              </div>
            </div>
          </article>
        </section>
      </div>
    </mat-step>
    <mat-step label="Checkout">
      <app-checkout [selection]="userSelection"></app-checkout>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>{{ loadStatus }}</p>
  </div>
</ng-template>
