<header fxLayout="row" fxLayoutAlign="space-between center">
  <div class="padded">
    <h2>Cancel booking</h2>
    <p *ngIf="!confirmed"><em>You are about to cancel the booking "{{ data.title }}".</em></p>
    <p *ngIf="confirmed"><em>The booking "{{ data.title }}" was successfuly cancelled.</em></p>
  </div>
</header>

<main class="top-padded">
  <section class="mat-typography" *ngIf="!confirmed">
    <p>Cancelling a booking that has already been confirmed means you will forfeit 5% of the
      amount you have
      already
      paid (<span class="bold">KES {{ data.amount | number }}</span>) which equates to <span class="bold">KES
        {{ forfeited | number }}</span>.</p>
    <p>After the deduction, <span class="bold">KES
        {{ data.amount - forfeited | number }}</span> will be
      credited to
      your wallet.
    </p>
    <p>Any points you had redeemed will be returned but any points you had earned will be
      lost.</p>
  </section>

  <section class="mat-typography" *ngIf="confirmed">
    <p>Your wallet was successfully credited with <span class="bold">KES
        {{ credited | number }}</span>. Your
      new wallet
      balance
      is <span class="bold">KES {{ newBalance | number }}</span>.</p>
  </section>
</main>

<div class="loading-container-section" *ngIf="processing">
  <mat-spinner diameter=25></mat-spinner>
  <p class="tcell">Cancelling...</p>
</div>

<footer class="top-padded right__cta">
  <div fxLayout="row" *ngIf="!confirmed && !processing">
    <button class="capitalize" mat-flat-button color="accent" (click)="cancelBooking()">Confirm</button>
    <span style="margin: 0 0.6em;"></span>
    <button class="capitalize" mat-flat-button (click)="dialogRef.close()" cdkFocusInitial>Deny</button>
  </div>
  <div *ngIf="confirmed">
    <button class="capitalize" mat-raised-button color="accent" (click)="dialogRef.close('closed')">Thank you
      next</button>
  </div>
</footer>
