<div class="user-form--parent panel bg-white" fxLayout="column" fxLayoutAlign="center center">
  <form class="vertical_form" novalidate [formGroup]="loginForm" fxLayout="column" (ngSubmit)="loginSubmit()">
    <h4 class="user-form--title bold">Login</h4>

    <!-- Email Address -->
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="example@email.com" [formControl]="email">
      <mat-hint>Enter the email address you used to signup.</mat-hint>
      <mat-error *ngIf="email.invalid">{{ emailErrorHandler() }}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput placeholder="" formControlName="password">
      <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.errors && (password.dirty || password.touched)">
        <span *ngIf="password.hasError('required')">Please enter a password</span>
        <span *ngIf="password.hasError('minlength')">Too short</span>
        <span *ngIf="password.hasError('maxlength')">Too long</span>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent" *ngIf="submitted==false" [disabled]="!loginForm.valid">Log In</button>

    <p class="link-underlined panel--top center-text link" *ngIf="submitted==false">Having trouble logging in?</p>
    <button mat-raised-button routerLink='/users/signup' *ngIf="submitted==false">Sign Up</button>

    <div class="loginCta center-text" *ngIf="submitted==true">
      <img src="../../../../assets/images/loader.gif" alt="Loading...">
      <p>Processing...</p>
    </div>
  </form>
</div>
