<div class="panel--sm">
  <!-- <div *ngIf="!paidFor">
    <div class="installment-message-info">
      <p class="tcell">Use PayPal to pay for your product.</p>
    </div>
  </div>

  <div *ngIf="paidFor">
    <div class="installment-message">
      <p class="tcell">Payment was successful!</p>
    </div>
  </div> -->

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <section class="panel--sm payment-options mb">
      <div class="payment-options__head payment-options--single">
        <p class="tcell white bold capitalize">Select paymet option</p>
      </div>

      <mat-radio-group class="top-padded-sm" name="paymentOption" [(ngModel)]="paymentOption"
        (ngModelChange)="getPaymentMethod()">
        <!-- Pay full amount -->
        <div class="payment-options--single bottom-border">
          <mat-radio-button value="fullAmount">Pay full amount</mat-radio-button>
        </div>

        <!-- Pay in installments -->
        <div class="payment-options--single botton-border">
          <mat-radio-button value="installments" [disabled]="user.id === -1">
            Pay in installments (Lipa pole pole)
          </mat-radio-button>
          <div class="payment-content center-text" *ngIf="paymentOption=='installments'">
            <p>For this option, we require a downpayment of <span class="bold">30%</span>. The remaining amount is then
              split into installments. Your total dictates how many installments we allow.</p>
            <div class="installments">
              <p class="th">Number of installments</p>
              <mat-chip-list class="installment-chips" aria-label="Number of installments selection">
                <mat-chip *ngFor="let installment of installmentsAllowed" [selected]="numberOfInstallments==installment"
                  (click)="selectInstallmentNumber(installment)">
                  {{ installment }}</mat-chip>
              </mat-chip-list>
            </div>
            <div class="installment-message">
              <p class="tcell">Your down payment is:
                <span class="bold">{{ lipaPolePoleDownpayment | currency:'KES':'code' }}</span>
              </p>
            </div>
            <div class="installments-table">
              <header class="panel--xs bottom-border" fxLayout="row" fxLayoutAlign="space-between">
                <div class="th" fxFlex="22">No</div>
                <div class="th" fxFlex="20">Amount (KES)</div>
                <div class="th" fxFlex="35">Due Date</div>
                <div class="th" fxFlex="23">Relative</div>
              </header>
              <main class="installments-body">
                <div class="bottom-border panel--xs" fxLayout="row" fxLayoutAlign="space-between"
                  *ngFor="let installment of lipaPolePoleInstallments">
                  <p class="tcell bold" fxFlex="22">{{ installment['installment'] }} Installment</p>
                  <p class="tcell" fxFlex="20">{{ installment['amount'] | number }}</p>
                  <p class="tcell" fxFlex="35">{{ installment['dueDate'] }}</p>
                  <p class="tcell" fxFlex="23">{{ installment['relative'] }}</p>
                </div>
              </main>
            </div>

            <div class="installment-message-info" *ngIf="!installmentsCheck">
              <p class="tcell">Sorry, we allow a maximum of <span class="bold">{{ numberOfInstallments }}</span>
                installments for totals up to <span class="bold">KES
                  {{ installmentLimits[numberOfInstallments] | number }}</span></p>
            </div>
          </div>
        </div>

        <!-- Deposit into savings account -->
        <div class="payment-options--single">
          <mat-radio-button value="savings" [disabled]="user.id === -1">My Savings Account</mat-radio-button>
          <div class="payment-content center-text" *ngIf="paymentOption=='savings'">
            <p>If you find the full amount too much to pay upfront and that the 30% down payment on lipa pole pole is
              also a bit much, you can depost 10% of your total charge into your savings account instead. Your package
              selection will be saved and you can pay for your package from there.</p>
            <div class="installment-message mb mt">
              <p class="tcell">You will top up your savings account by:
                <span class="bold">{{ savingsDeposit | currency:'KES':'code' }}</span>
              </p>
            </div>
            <p><span class="ultra-bold">Note:</span> Money deposited into your savings account is committed for at least
              a month before you can withdraw it. Read more in the <span class="bold link">Terms & Conditions</span>.
            </p>
          </div>
        </div>
      </mat-radio-group>
    </section>


    <section class="panel--sm payment-options mb">
      <div class="payment-options__head payment-options--single">
        <p class="tcell white bold capitalize">Select payment method</p>
      </div>

      <div class="installment-message-info" *ngIf="activateMpesa()">
        <p class="small center-text">Sorry, mpesa payments have been disabled for your transaction because your
          <span *ngIf="paymentOption=='fullAmount'">totol amount</span>
          <span *ngIf="paymentOption=='installments'">down payment</span> exceeds the daily mpesa limit of
          <span class="bold">KES 70,000</span>.
        </p>
      </div>

      <mat-radio-group class="top-padded-sm" name="paymentMethod" [(ngModel)]="paymentMethod">
        <!-- Stk Push -->
        <div class="payment-options--single bottom-border">
          <!-- Match only numbers regex "^\d+$" "^[0-9]*$" -->
          <mat-radio-button value="stkPush" [disabled]="activateMpesa()">Pay Online (Mpesa Express)</mat-radio-button>
          <div class="payment-content" *ngIf="paymentMethod=='stkPush'">
            <mat-form-field appearance="outline">
              <mat-label>Your total charge</mat-label>
              <input matInput name="stkPushAmount" [(ngModel)]="stkPushAmount" readonly>
              <!-- <mat-hint>You will pay KES {{ stkPushAmount | number }}</mat-hint> -->
            </mat-form-field>
            <p class="tcell bold">You will pay KES {{ stkPushAmount | number }}. You will receive an Mpesa prompt after
              confirming your booking. Enter your pin to complete the payment.</p>
          </div>
        </div>

        <!-- Paybill -->
        <div class="payment-options--single bottom-border">
          <mat-radio-button value="paybill" [disabled]="activateMpesa()">Mpesa PayBill</mat-radio-button>
          <div class="payment-content" *ngIf="paymentMethod=='paybill'">
            <ol class="paybillProc sPanel">
              <li>Go to Safaricom SIM Tool kit, select <span class="bold"> M-PESA</span> menu, select <span
                  class="bold">"Lipa na M-PESA"</span></li>
              <li>Select <span class="bold">"Pay Bill"</span></li>
              <li>Select <span class="bold">"Enter Business no."</span>, Enter Izaura Safaris's Lipa na M-PESA PayBill
                Number <span class="bold" *ngIf="paymentMethod=='paybill'">743019</span> <span class="bold"
                  *ngIf="paymentMethod!=='paybill'">XXXXXX</span> and press "OK"</li>
              <li>Select <span class="bold">"Enter Account no."</span> and enter Account Number as "Izaurasafaris" press
                "OK"</li>
              <li><span class="bold">"Enter Amount" -</span> Enter the amount you wish to desposit and press "OK"</li>
              <li><span class="bold">Enter your M-PESA PIN</span> and press "OK"</li>
              <li><span class="bold">Confirm</span> that all the details are correct and press "OK"</li>
            </ol>
          </div>
        </div>

        <!-- PayPal -->
        <div class="payment-options--single bottom-border">
          <mat-radio-button value="paypal">PayPal</mat-radio-button>
        </div>

        <!-- Ipay gateway -->
        <div class="payment-options--single">
          <mat-radio-button value="ipay">Other(s)</mat-radio-button>
          <div class="payment-content" *ngIf="paymentMethod==='ipay'">
            <p>If you wish to pay using other channels such as <span class="bold">Airtel Money, Equity Eazzypay, Mobile
                Banking, Visa, Mastercard</span>, we have you covered.</p>
            <div class="payment-channels">
              <img class="img-responsive" src="../../../../assets/payments/channels.png" alt="Payment Channels">
            </div>
            <p><span class="ultra-bold">Please note: </span>This option attracts a 3% processing fee that will be added
              to your total.</p>
          </div>
        </div>
      </mat-radio-group>
    </section>

    <section class="panel--sm payment-options mb">
      <div class="payment-options__head payment-options--single">
        <p class="tcell white bold capitalize">Add Comments About Your Booking</p>
      </div>

      <div class="mt pb bottom-border">
        <textarea class="full-width panel--sm payment-comments" rows=8 style="background-color: #fff;" name="comments"
          ngModel>
        </textarea>

        <div class="checkbox-group">
          <p class="pay-tcell">
            <mat-checkbox name="newsletter" [(ngModel)]="newsletterSubscription">I wish to subscribe to Izaurasafaris's
              newsletter.
            </mat-checkbox>
          </p>
          <p class="pay-tcell">
            <mat-checkbox name="terms" [(ngModel)]="termsAndConditions" required>
              I have read and agree to the <span class="bold">Terms & Conditions</span><span class="tcell">
                (Required)</span>
            </mat-checkbox>
          </p>
        </div>
      </div>

      <button type="submit" class="payment-cta payment-options--single mt full-width" matRipple
        *ngIf="paymentMethod!=='paypal' && !processing" [disabled]="!form.valid">ConfirmOrder
      </button>
      <div class="mt full-width" [hidden]="paymentMethod!=='paypal'" #paypal></div>
    </section>
  </form>

  <div class="flash-message-red" *ngIf="flash" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="tcell" fxFlex="90">{{ flashMessage }}</p>
    <span class="pointer" (click)="closeFlash()" fxFlex="5">&times;</span>
  </div>

  <div class="loading-container-section" *ngIf="processing">
    <mat-spinner diameter=25></mat-spinner>
    <p class="tcell">Processing...</p>
  </div>
</div>
