<nav class="panel--sm seasonal_topbar">
  <!-- <div class="headline">
    <i class="material-icons" (click)="sidenav.toggle()">list</i>
    <h4 class="underlined-heading">{{ seasonFilter | capitalize:true }} Deals</h4>
  </div> -->

  <mat-chip-list class="filter-chips" *ngIf="sDestinations">
    <mat-chip [selected]="filterValue=='All'" (click)="filterBy('All')">All destinations</mat-chip>
    <mat-chip *ngFor="let destination of sDestinations | seasonfilter:2:seasonFilter"
      [selected]="filterValue==destination[0]" (click)=filterBy(destination[0])>{{destination[1]}}</mat-chip>
  </mat-chip-list>
</nav>

<!-- The main body of the page -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item *ngFor="let holiday of sHolidays" [class.active]="seasonFilter==holiday[1]"
        (click)="goToSeason(holiday[1])"> {{ holiday[1] }} Deals</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sPanel">
    <div class="card-container">
      <mat-card *ngFor="let package of sPackages | filter:1:seasonFilter | filter:2:filterValue; let i = index">
        <figure>
          <img mat-card-image src="{{package[3]}}" alt="{{package[4]}}">
        </figure>
        <mat-card-content>
          <h4 class="bold link" (click)="getPackageDetails(package[0])">
            {{package[4] | capitalize:true }}
          </h4>
          <p>{{package[6] | truncate:120:true}}</p>
        </mat-card-content>
        <mat-card-footer class="package-card-footer">
          <div class="card-footer__pricing">
            <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
            <h5 class="capitalize card-footer__pricing--price">Kes {{ package[7] }}</h5>
          </div>
          <mat-card-actions class="card-footer__cta">
            <button class="capitalize" mat-stroked-button color="accent" (click)="getPackageDetails(package[0])">
              View details
            </button>
          </mat-card-actions>

          <span class="favorite" [class.saved]="isSaved(package[0])" appFavToggle
            (click)="toggleFavorite(package[0], favorites[i])"
            [attr.title]="isSaved(package[0]) ? 'Remove from favorites': 'Add to favorites'">
            <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="-50 -50 1100 1100">
              <path
                d="M109,618.7c60.8,80.6,139.8,145.3,222,203.8c0,0,98,67.9,143,99.5c16.6,11.1,37.9,11.1,53.7,0c45-31.6,142.2-99.5,142.2-99.5C752,764,829.4,700,891,618.7c52.1-69.5,90.8-151.7,97.9-238.6c12.6-158-89.3-309.6-258.3-309.6c-98.7,0-185.6,53.7-229.9,133.5C455,123.4,368.9,69.7,270.1,69.7C101.9,69.7-1.6,221.4,11,379.3C18.2,466.2,56.1,549.2,109,618.7z"
                stroke="#fff" stroke-width="80" fill="none"></path>
            </svg>
          </span>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
