<header fxLayout="row" fxLayoutAlign="space-between center">
  <div class="padded">
    <h2>{{data.hotel['hotelName']}}</h2>
    <span class="byline">Single Room @ KES {{data.hotel['singleRoomPrice']}}, Double Room @ KES
      {{ data.hotel['doubleRoomPrice']}} per person</span>
  </div>

  <!-- <div fxFlexAlign="end center" matTooltip="Rating">
    <span class="small">{{data.hotel['fk_rating']}} <mat-icon color="accent">star_rate</mat-icon></span>
    <mat-icon *ngFor="let rating of data.hotel['fk_rating'] | times" color="accent">star_rate</mat-icon>
  </div> -->
</header>

<figure style="background-color: #fafafa;">
  <ngx-gallery class="img-responsive" [options]="data.galleryOptions" [images]="data.hotelImages"></ngx-gallery>
</figure>

<section class="package-details__overview top-padded">
  <div class="headline">
    <h1 class="overview-headline">Overview</h1>
  </div>
  <p>{{ data.hotel['hotelOverview'] }}</p>
</section>

<section class="top-padded">
  <div class="headline">
    <h1 class="overview-headline">Facilities</h1>
  </div>
  <!-- <h2>Facilities</h2> -->
  <ul class="sPanel top-padded">
    <li><span class="bold">Accommodation</span>
      <mat-list class="bottom-padded">
        <p>{{ data.hotel['accommodation'] }}</p>
      </mat-list>
    </li>
    <li><span class="bold">Dining</span>
      <mat-list class="bottom-padded">
        <p>{{ data.hotel['diningExp'] }}</p>
      </mat-list>
    </li>
    <li><span class="bold">Child policy</span>
      <mat-list class="bottom-padded">
        <p>{{ data.hotel['childPolicy'] }}</p>
      </mat-list>
    </li>
    <li><span class="bold">Activities</span>
      <mat-list class="bottom-padded">
        <p>{{ data.hotel['activities'] }}</p>
      </mat-list>
    </li>
  </ul>
</section>
