<div class="panel--sm">
  <mat-tab-group dynamicHeight>
    <mat-tab label="PACKAGES">
      <nav class="top-padded-sm" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px">
        <p fxFlexAlign="center center">Filters:</p>
        <mat-form-field>
          <mat-select placeholder="Country">
            <mat-option value="All" (click)="filterDestinations('All')">All</mat-option>
            <mat-option *ngFor="let dest of destinations" [value]="dest[1]" (click)="filterDestinations(dest[1])">
              {{dest[1]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          matTooltip="Most packages can be extended or shrunk to fit any number of days you desire, after you've selected."
          matTooltipPosition="above">
          <mat-select placeholder="Duration">
            <mat-option value="All" (click)="filterDays('All')">Any Duration</mat-option>
            <mat-option *ngFor="let day of days" [value]="day" (click)="filterDays(day)">
              {{day}} Days
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Order By">
            <mat-option value="asc" (click)="sortFilter('asc')">Days Asc</mat-option>
            <mat-option value="desc" (click)="sortFilter('desc')">Days Desc</mat-option>
          </mat-select>
        </mat-form-field>
      </nav>

      <div class="card-container">
        <mat-card
          *ngFor="let package of packages | filter:5:destinationFilter | filter:6:daysFilter | sortby:6:orderFilter; let i = index">
          <figure>
            <img mat-card-image src="{{package[2]}}" alt="{{package[1]}}">
          </figure>
          <mat-card-content>
            <h4 class="bold link" (click)="getPackageDetails(package[5], package[0])">
              {{package[1] | capitalize:true }}
            </h4>
            <p>{{package[3] | truncate:120:true }}</p>
          </mat-card-content>
          <mat-card-footer class="package-card-footer">
            <div class="card-footer__pricing">
              <mat-card-subtitle class="card-footer__pricing--sub">Starting at</mat-card-subtitle>
              <h5 class="capitalize card-footer__pricing--price">{{ package[4] | currency:'KES' }}</h5>
            </div>
            <mat-card-actions class="card-footer__cta">
              <button class="capitalize" mat-stroked-button color="accent"
                (click)="getPackageDetails(package[5], package[0])">
                View details
              </button>
            </mat-card-actions>

            <span class="favorite" [class.saved]="isSaved(package[0])" appFavToggle
              (click)="toggleFavorite(package[0], favorites[i])"
              [attr.title]="isSaved(package[0]) ? 'Remove from favorites': 'Add to favorites'">
              <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="-50 -50 1100 1100">
                <path
                  d="M109,618.7c60.8,80.6,139.8,145.3,222,203.8c0,0,98,67.9,143,99.5c16.6,11.1,37.9,11.1,53.7,0c45-31.6,142.2-99.5,142.2-99.5C752,764,829.4,700,891,618.7c52.1-69.5,90.8-151.7,97.9-238.6c12.6-158-89.3-309.6-258.3-309.6c-98.7,0-185.6,53.7-229.9,133.5C455,123.4,368.9,69.7,270.1,69.7C101.9,69.7-1.6,221.4,11,379.3C18.2,466.2,56.1,549.2,109,618.7z"
                  stroke="#fff" stroke-width="80" fill="none"></path>
              </svg>
            </span>
          </mat-card-footer>
          <div class="destination-tag" *ngIf="destinationFilter=='All'">{{package[5]}}</div>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="CUSTOMIZE">
      <nav class="top-padded-sm" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px">
        <mat-chip-list class="filter-chips">
          <mat-chip [selected]="locationFilter=='All'" (click)="filterLocations('All')">All destinations</mat-chip>
          <mat-chip *ngFor="let destination of destinations" (click)="filterLocations(destination[1])"
            [selected]="locationFilter==destination[1]">
            {{destination[1]}}
          </mat-chip>
        </mat-chip-list>
        <!-- <p fxFlexAlign="center center">Filters:</p>
        <mat-form-field>
          <mat-select placeholder="Country">
            <mat-option value="All" (click)="filterLocations('All')">All</mat-option>
            <mat-option *ngFor="let dest of destinations" [value]="dest[1]" (click)="filterLocations(dest[1])">
              {{dest[1]}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </nav>

      <section class="card-container" fxLayout="row">
        <main class="card-container" fxFlex="80">
          <mat-card *ngFor="let location of locations | filter:6:locationFilter; let i = index">
            <figure>
              <img mat-card-image src="{{location[3]}}" alt="{{location[3]}} Image">
            </figure>
            <mat-card-content>
              <h4 class="bold link" (click)="getLocationsImages(location)">{{ location[1] | titlecase }}</h4>
              <p>{{ location[4] | truncate:120:true }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <mat-checkbox [ngModel]="isSelected(location[1])" (change)="toggleLocation(location[1], location[6])">
                  Add To Itinerary</mat-checkbox>
              </button>
            </mat-card-actions>
          </mat-card>
        </main>

        <!-- Custom selection -->
        <aside class="customize__filters panel" fxFlex="20">
          <div class="no-selection top-padded center-text" *ngIf="userLocations?.length == 0">
            <p class="center-text ultra-bold" style="color: #e0e0e0;">Add location</p>
            <span class="none-selected">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                  d="M7 15h7v2H7zm0-4h10v2H7zm0-4h10v2H7zm12-4h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-.14 0-.27.01-.4.04-.39.08-.74.28-1.01.55-.18.18-.33.4-.43.64-.1.23-.16.49-.16.77v14c0 .27.06.54.16.78s.25.45.43.64c.27.27.62.47 1.01.55.13.02.26.03.4.03h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75-.75-.34-.75-.75.34-.75.75-.75zM19 19H5V5h14v14z"
                  style="fill:#e0e0e0;" />
              </svg>
            </span>
            <p class="small ultra-bold" style="color: #e0e0e0;">Click on the button on the location card to customize
              your itinerary</p>
            <button class="full-width capitalize" mat-flat-button disabled style="margin-top: 2.5em;">Send</button>
          </div>

          <div class="customize__filters--country" *ngIf="userLocations?.length > 0">
            <p class="center-text ultra-bold" style="color: #e0e0e0;">My selections</p>
            <mat-list *ngFor="let countries of customLocations | keyvalue">
              <p class="small ultra-bold">{{ countries.key }}</p>
              <mat-list-item *ngFor="let location of countries.value">{{ location }}</mat-list-item>
            </mat-list>

            <div class="top-padded">
              <button class="capitalize full-width" mat-raised-button color="accent"
                (click)="openFormDialog()">Submit</button>
            </div>
          </div>
        </aside>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
