.destination-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  // background-color: #FFB74D;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
}
