.weekend-card__content {
  background-color: #eaeaea;
  margin-top: 0.5em;
}

.date-box {
  background-color: #FFB74D;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 0;
  span {
    display: block;
    line-height: 19px;
  }
}

.date {
  font-size: 1.5em;
}

.event-title {
  padding: 0.5em;
}
