<div class="panel">
  <nav fxLayout="row" fxLayoutGap="1em">
    <div class="filters" fxFlex="30" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="flex-start center">
      <p fxFlexAlign="start center">Filters:</p>
      <!-- Departure Filters -->
      <mat-form-field fxFlex="40">
        <mat-select placeholder="Depart From">
          <mat-option value="All" (click)="filterDepartures('All')">All</mat-option>
          <mat-option *ngFor="let dep of departures" [value]="dep[1]" (click)="filterDepartures(dep[1])">
            {{dep[1]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date Filters -->
      <mat-form-field fxFlex="40">
        <mat-select placeholder="Date">
          <mat-option value="All">All</mat-option>
          <mat-option value="This Weekend">This Weekend</mat-option>
          <mat-option value="Next Weekend">Next Weekend</mat-option>
          <mat-option value="After Next Weekend">After next weekend</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-chip-list fxLayout="row" fxLayoutAlign="flex-end" fxFlex="70">
      <mat-chip [selected]="destinationFilter=='All'" (click)="filterDestinations('All')">All destinations</mat-chip>
      <mat-chip
      *ngFor="let destination of destinations"
      (click)="filterDestinations(destination[1])"
      [selected]="destinationFilter==destination[1]">
      {{destination[1]}}
      </mat-chip>
    </mat-chip-list>
  </nav>

  <div class="card-container">
    <mat-card class="weekend-card" *ngFor="let event of events | filter:6:destinationFilter | filter:5:departFromFilter; let i = index">
      <img class="img-responsive" src="{{event[2]}}" alt="{{event[1]}} Image">
      <mat-card-footer class="weekend-card__content" fxLayout="row" fxLayoutAlign="flex-start stretch">
        <p class="date-box" fxFlex="20" fxLayout="column" fxLayoutGap="0">
          <span class="day bold">{{event[8] | date:false:day }}</span>
          <span class="date bold">{{event[8] | date:false:date }}</span>
          <span class="month bold">{{event[8] | date:false:month }}</span>
        </p>
        <p class="event-title link bold" (click)="eventDetails(event[0])">{{event[1] | capitalize:true }}</p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
