<div class="panel" style="background-color: #eaeaea;" *ngIf="pageReady; else loading">
  <div class="fxContainer shadow bordered" style="background-color: #eaeaea;" fxLayout="row" fxLayoutAlign="space-between start">
    <section class="sPanel bg-white bottom-padded border-right" fxFlex="74">
      <header fxLayout="row" fxLayoutAlign="space-between center">
        <div class="padded">
          <h2>{{package[1]}} {{package[5]}} days {{package[6]}} nights</h2>
          <span class="byline">{{package[8] | capitalize}}, {{package[7]}}</span>
        </div>

        <button fxFlexAlign="end center" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Share">
          <mat-icon>share</mat-icon>
          <mat-menu #menu="matMenu">
            <h2 class="share-heading">Share</h2>
            <button mat-menu-item>
              <i class="icon-facebook social--facebook share-icon"></i>
              <span>Facebook</span>
            </button>
            <button mat-menu-item>
              <i class="icon-twitter social--twitter share-icon"></i>
              <span>Twitter</span>
            </button>
            <button mat-menu-item>
              <mat-icon>email</mat-icon>
              <span>Email</span>
            </button>
            <mat-form-field class="share-link" (click)="copyLink(share)">
              <input matInput placeholder="{{shareLink}}" #share value="https://izaurasafaris.com/{{url}}">
            </mat-form-field>
          </mat-menu>
        </button>
      </header>

      <main>
        <figure>
          <ngx-gallery class="img-responsive" [options]="galleryOptions" [images]="packageImages"></ngx-gallery>
        </figure>

        <div class="package-details top-padded">
          <section class="package-details__overview">
            <div class="headline"><h1 class="overview-headline">Overview</h1></div>
            <p>{{ package[3] }}</p>
          </section>

          <section class="package-details__itinerary top-padded-2x">
            <h2>Proposed itinerary</h2>
            <ul class="sPanel">
              <li *ngFor="let it of itinerary"><strong class="small">Day {{ it[2]}}: {{it[3]}}</strong>
                <mat-list><p class="small">{{ it[4] }}</p></mat-list>
              </li>
            </ul>
          </section>

          <section class="right__cta panel--sm" fxHide>
            <button class="capitalize" mat-raised-button color="accent">Proceed</button>
          </section>
        </div>
      </main>
    </section>

    <aside class="panel" fxFlex="26">
      <div fxLayout="column" fxLayoutAlign="stretch center">
        <span class="package-price capitalize">Kes {{ package[4] | number}}</span>
        <span class="byline-small">Per Person Sharing</span>
        <div class="group-departure center-text top-padded-sm" fxLayout="column" *ngIf="package[9]">
          <p class="byline-small bold">Package availability is on request</p>
          <!-- <p class="byline bold">{{ package[10] | date }}</p> -->
          <span class="tiny-text">(International)</span>
        </div>
        <span class="top-padded-sm"></span>
        <button mat-flat-button color="accent"><mat-icon>favorite_border</mat-icon> Add to favorites</button>
      </div>

      <div class="top-padded-2x center-text">
        <p class="small bold center-text">Have questions?</p>
        <p>Email: <span class="accent">support@izaurasafaris.com</span></p>
        <p>Call: <span class="accent">+254707837682</span></p>
      </div>

      <div class="top-padded-2x">
        <p class="small bold center-text capitalize">Send Enquiry</p>

        <form class="package-details__aside--form" action="">
          <mat-form-field class="full-width">
            <input matInput placeholder="Full name">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Enter your message"></textarea>
          </mat-form-field>
          <button mat-stroked-button color="accent" class="capitalize full-width">Send</button>
        </form>
      </div>
    </aside>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>{{ loadStatus }}</p>
  </div>
</ng-template>
