/* Import angular material Indigo-pink theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Our scss files in order of importance*/
@import "scss/config";
@import "scss/functions";
@import "scss/mixins";
@import "scss/helpers";
@import "scss/base";
@import "scss/layout";
@import "scss/main";
@import "scss/nav";
@import "scss/typography";
@import "scss/sprites";
@import "scss/cards";
@import "scss/gallery";
@import "scss/packages";
@import "scss/a&t";
@import "scss/users";
@import "scss/favorites";
@import "scss/accordion";
@import "scss/payments";
@import "scss/ribbons";

.mat-horizontal-stepper-header {
  padding: 1px;
  height: auto;
}

.mat-stepper-label-position-bottom .mat-step-label {
  padding: 12px 0 0 0;
}

// Form overrided
// .form-field-override {
//   .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 0.5em 0 !important;
//   }

//   .mat-form-field-infix {
//     border-top: none !important;
//   }

//   .mat-form-field {
//     line-height: 1.5 !important;
//   }
// }

.checkout__aside {
  .mat-form-field-infix {
    border-top: none !important;
    margin: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
