@import '~@angular/material/theming';
@include mat-core();

// Define the default theme
$default-primary: mat-palette($mat-orange, 400);
$default-accent:  mat-palette($mat-orange, 300, A100);

$default-theme:   mat-light-theme($default-primary, $default-accent);
@include angular-material-theme($default-theme);

@mixin mix-app-theme($default-theme) {
  $primary: map-get($default-theme, primary);
  $accent: map-get($default-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}

// Include the mixin
@include mix-app-theme($default-theme);


/* SECONDARY THEME */
$alt-primary: mat-palette($mat-cyan, 500);
$alt-accent: mat-palette($mat-indigo, 300);

$secondary-theme: mat-dark-theme($alt-primary, $alt-accent);

.dark-theme {
  @include angular-material-theme($secondary-theme);
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
