.actPackages {
  margin-bottom: em(20px);
}

.acPackages__head, .trPackages__head {
  height: em(50px);
  line-height: em(50px);
  padding: 0 em(15px);
}

.package-card > *{
  display: block;
  padding: em(12px) 0;

  & .package-price {
    font-size: em(28px);
    color: $color-accent;
    font-weight: nestedmaps(weight, medium);
  }
}

.package-card > p {
  padding: 0;
}

.inline-block {
  display: inline-block !important;
}

.bg-Gold {
  background-color: #FFF9C4;
}

.bg-Silver {
  background-color: #F5F5F5;
}

.accent {
  color: $color-accent;
}

.border-bottom {
  border-bottom: 1px solid #E0E0E0;
}
