:root {
  --color: #FFD180;
}

.accordion-title {
  transition: linear 0.2s all;
  border-left: 5px solid transparent;

  &.active {
    border-left: 5px solid var(--color);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0,0,0,0.87);
  }

  &:hover {
    cursor: pointer;
    border-left: 5px solid var(--color);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.accordion-content {
  transition: ease 0.3s all;
  padding: em(16px);

  &.closed {
    display: none;
  }
}
