* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: lighten($black, 15%);
    font-size: $base--font-size;
    font-family: nestedmaps(stack, primary);
    font-weight: nestedmaps(weight, primary);
    line-height: ($base--line-height / $base--font-size);

    background: url(./assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
  font-size: em(20px);
  display: inline-block;
  font-weight: normal;
  border-bottom: 3px solid $color-accent;
  padding-bottom: em(7px);
}
h2 {
    @extend %secondary-heading;
}
h3 {
    @extend %byline-heading;
}
h4 {
    font-size: em(18px);
    font-weight: normal;
    color: $black;
    margin-bottom: em(7px);
}
h5 {
    margin: em(10px) 0 em(8px);
    // font-size: em(15px);
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $color-accent;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
