.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header {
  margin-bottom: em(8px);
}

.card-title {
  line-height: 2;
  letter-spacing: 1px;
  font-weight: nestedmaps(weight, primary);
  font-size: 18px;
}

.card-list {
  padding: em(16px);
  list-style-type: circle;

  &-item {
    padding-bottom: em(16px);
  }
}

.card-info-group {
  padding: em(18px);
}

mat-card {
  margin-top: em(20px);
}

@include mq(mat-card-xs) {
  mat-card {
    flex: 0 1 49%;
  }
}

@include mq(small) {
  mat-card {
    flex: 0 1 32%;
  }
}

@include mq(medium) {
  mat-card {
    flex: 0 1 24%;
  }
  .fxCard {
    flex: 0 1 32%;
  }
}

mat-card:last-child {
  align-self: flex-start;
}

.img-overlay {
    display: none;
}

/* Card Link */
.cta {
    text-decoration: none;
    color: $color-accent;
    margin-top: em(8px);
}

/* Card title link */
.link-title {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $color-accent;
    }
}

/* The card footer section with the pricing and cta */
.package-card-footer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-content: center !important;
  padding: 0 16px !important;
}

.card-footer__pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 0;

  & .card-footer__pricing--sub {
    margin-bottom: 0;
  }

  & .card-footer__pricing--price {
    margin: 0;
  }
}

.card-footer__cta {
  display: flex;
  align-content: center;
  height: 100%;
  margin-bottom: 0 !important;
  & button {
    align-self: flex-end;
    font-size: em(12px);
    // background-color: $color-accent-light;
  }
}
