/* Font Stacks */
$font-url--google   : 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
$fonts: (
    stack: (
        primary: ('Roboto', 'Helvetica Neue', Arial, sans-serif),
        secondary: ('Helvetica Neue', Arial, sans-serif)
    ),
    weight: (
        primary     : 400,
        light        : 300,
        medium     : 500,
        bold        : 700
    )
);

/* Colors */
$white      : #fff;
$black       : #0b0b0b;
$grey        : #9e9e9e;

$azure                      : #306199; //Facebook
$spring-green             : #00e676; //Whatsapp Success
$picton-blue               : #26c4f1; //Twitter Info
$deep-cerulean            : #0274b3; //Linkedin Primary
$punch                      : #db4437; //Google-plus Danger
$orange-peel              : #FF9F00; //Warning

/* Material design theme colors */
$mat-orange-300     : #FFB74D;
$mat-orange-A100    : #FFD180;
$mat-teal-50         : #E0F2F1;

$color-primary        : $mat-teal-50;
$color-accent           : $mat-orange-300;
$color-accent-light     : $mat-orange-A100;

/* Themes */
$themes: (
    default: (
        default : $white,
        primary : $deep-cerulean,
        success : $spring-green,
        info    : $picton-blue,
        warning : $orange-peel,
        danger  : $punch 
    ),
    social: (
        facebook    : $azure,
        twitter     : $picton-blue,
        linkedin    : $deep-cerulean,
        whatsapp    : $spring-green,
        googleplus  : $punch,
        instagram   : $orange-peel
    )
);

/* Typography */
$base--font-size    : 16px;
$base--line-height  : 24px;

$box-shadow          : 0px 2px 6px rgba(194, 32, 32, 0.2);

$br--default : 4px;
$br--rounded : 50%;

$gradient: linear-gradient($color-accent 55%, #FFA726 100%);

/* Container breakpoints */
$xsmall                      : 1px;
$small                        : 768px;
$medium                      : 992px;
$large                         : 1200px;

$mat-card-xs        : 600px;
