.favorite {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  width: 2.875rem;
  height: 2.875rem;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

.favorite svg {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  margin-top: 0.4375rem;
  transition: transform 0.3s ease;
}

.favorite svg path {
  fill: #000;
  fill-opacity: 0.4;
  stroke-width: 90;
}

.favorite:hover svg path {
  fill: #fff;
  fill-opacity: 0.8;
}

.favorite.saved:hover svg path {
  fill: $color-accent !important;
  fill-opacity: 1 !important;
}

/* These style will appply to the package that has been favorited */
.favorite.saved svg path {
  fill: $color-accent;
  fill-opacity: 1;
}

@media (max-width: 600px) and (min-width: 420px) {
  .favorite {
    width: 4.125rem;
    height: 4.125rem;
  }

  .favorite svg {
    margin-top: 0.875rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}

/* The close button */
.fav-close {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: .1rem;
  margin-right: .1rem;
}

.fav-close:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fav-close button, .fav-close a {
  color: #fff;
}

/* Cut from the home/favorites/favorites.sccs */
.fav-panel {
  padding: 1.5rem 2rem 2rem;
}

.fav-panel-sm {
  padding: 1rem 2rem;
}

main.fav-panel {
  min-height: 50vh;
}

.p-info {
  display: flex;
  align-items: baseline;
}

.fav-headline {
  font-size: 1.7em;
  margin: 0 0 16px;
}

.fav-info {
  padding: 1rem;
  border: 1px solid #FFD180;
  background-color: #fff !important;
  position: relative;
  display: inline-block;
}

.fav-info:before {
  content: "";
  position: absolute;
  left: 2.5rem;
  top: -.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 1px solid #FFD180;
  transform: rotate(-45deg);
}

.fav-info:after {
  content: "";
  position: absolute;
  left: 2.1875rem;
  top: 0;
  display: block;
  width: 1.625rem;;
  height: .8125rem;
  background-color: #fff;
}

.icon-grey {
  color: rgba(0, 0, 0, 0.54);
}
