/* Import our font */
@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

/* Pixels to ems */
@function em($target, $context: $base--font-size) {
    @return ($target / $context) * 1em;
}

/* Get values from nested maps */
@function nestedmaps($nestedmap, $value: 'primary') {
    @return map-get(map-get($fonts, $nestedmap), $value);
}