.slider__slides {
    width: 100%;
    position: relative;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.75);
}
.slider__slides figure {
    transition: all 0.5s;
}
.slider__slides img {
    vertical-align: bottom;
}

/* The slider controls */
.slider-control {
    padding: 0.9em 0.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}
.next {
    right: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hidden {
    opacity: 0;
    transform: scale(1.1);
}
.show {
    opacity: 1;
    transform: scale(1);
}

/* Thumbnails */
.slider__thumbnails {
    position: relative;
}
.slider__thumbnails figure {
    display: flex;
    margin: 18px 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
.slider__thumbnails figure img {
    width: 110px;
    height: 55px;
    margin-right: 15px;
    opacity: 0.6;
    border: 3px solid #999;
    &:hover {
        cursor: pointer;
        border: 3px solid #666;
        opacity: 1;
    }
    &:last-of-type {
        margin-right: 0;
    }
}

.thumb-control {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}