%button {
    border: none;
    outline: none;
    padding: em(10px) em(16px);
    color: #fff;

    &:hover {
        cursor: pointer;
        opacity: .85;
    }
    &:active {
        opacity: initial;
    }
}

%stroked-button {
  outline: none;
  font-weight: nestedmaps(weight, medium);
  padding: em(10px) em(16px);
  background-color: #fff;

  &:hover {
    cursor: pointer;
    opacity: .85;
  }

  &:active {
    opacity: initial;
  }

  &:disabled {
    @extend %disabled;
  }
}

%pseudo {
    content: "";
    display: block;
    position: absolute;
}

%disabled {
    background-color: #eaeaea;
    color: #a8a8a8;
    pointer-events: none;
    cursor: auto;
}

%panel-default {
    padding: em(22px);
}

%panel-thick {
  padding: em(40px) em(70px);
}

%panel-small {
  padding: em(16px);
}

%panel-xsmall {
  padding: em(8px);
}

%side-panel {
  padding: 0 em(14px);
}

%top-panel {
  padding: em(18px) 0;
}

/* Headings */
%secondary-heading {
    font-size: em(18px);
    font-weight: nestedmaps(weight, medium);
    // margin-bottom: em(8px);
}

%byline-heading {
    font-size: em(13px);
}

%tiny-text {
  font-size: em(12px);
  color: rgba(0, 0, 0, 0.8);
}

%grouped-subheading {
  font-size: em(14px);
  font-weight: nestedmaps(weight, light);
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}


/* Our custom navigation */
%inherit-height {
    height: inherit;
}
%nav-link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
%nav-link-on {
    cursor: pointer;
    border-bottom: 3px solid $black;
}

/* UL parent of list items */
%list-item {
    list-style-type: none;
    flex: 1 1 auto;
}

%social-icon-rounded {
  display: block;
  border-radius: $br--rounded;
  height: em(26px);
  width: em(26px);
  line-height: em(26px);
  box-shadow: $box-shadow;
  color: $color-primary;
  font-size: em(16px);
  margin: 0 em(5px);
}

%icon-rounded-lg {
  display: block;
  border-radius: $br--rounded;
  height: em(45px);
  width: em(45px);
}
