/* Our bootstrap-like container */
.fxContainer {
    margin: auto;

    @include mq(xsmall) {
      max-width: 100%;
      padding: 0;
    }
    @include mq(medium) {
      max-width: 970px;
    }
    @include mq(large) {
      max-width: 1170px;
    }
}

.panel {
  @extend %panel-default;
}

.panel--lg {
  @extend %panel-thick;
}

.panel--sm {
  @extend %panel-small;
}

.panel--xs {
  @extend %panel-xsmall;
}

.sPanel {
  @extend %side-panel;
}

.panel--top {
  @extend %top-panel;
}
