.btn {
    @extend %button;
    @include theme(default, background-color);
}
.btn--disabled {
    @extend %button;
    @extend %disabled;
}

.btn-stroked {
  @extend %stroked-button;
  @include theme(default, color);
  @include theme(default, border-color);
  border-style: solid;
  border-width: 2px;

  &:disabled {
    @extend %disabled;
  }
}

.btn-group {
  padding: em(22px) 0;

  &-thick {
    padding-top: em(32px);
  }

  &-big {
    padding-top: em(26px);
  }
}

.social {
    @include theme(social, color);
}
.social-rounded {
    @include theme(social, background-color) {
        @extend %social-icon-rounded;
        text-align: center;
    }
}
.theme {
  @include theme(default, color);
}

.wallet-actions {
  width: 50%;
  margin: auto;
}

.wallet-action {
  @extend %icon-rounded-lg;
  display: flex;
  justify-content: center;
  align-items: center;

  &--block {
  color: #fff;
  background-color: #FFB74D;
  }

  &--outline {
    color: #FFB74D;
    border: 2px solid #FFB74D;
  }

  &--disabled {
    background-color: #eaeaea;
    color: #a8a8a8;
    cursor: auto;
  }
}

.wallet-action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;

    & > .wallet-action-cta {
      text-decoration: underline;
    }
  }
}

.wallet-action-item--disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-action-cta {
  margin-top: em(6px);
  font-size: em(13px);
}

ul.pickups, ul.pickups li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none
}

.share {
  &-icon {
    font-size: em(20px);
    margin-right: em(16px);
  }

  &-heading {
    padding-left: em(16px);
  }

  &-link {
    padding: 0 em(16px);
    &:hover {
      cursor: pointer;
    }
  }
}

.vertical-scroll {
  overflow-y: hidden !important;
}

.white {
  color: $white;
}
.bg-white {
  background-color: $white !important;
}
.bg-accent {
  background-color: $color-accent;
}
.bg-accent-light {
  background-color: $color-accent-light;
}
.bg-gradient {
  background: $color-accent-light;
  background: $gradient;
}
.bg-material {
  background-color: #fafafa !important;
}
.bg-shadow-white {
  background-color: $white;
  box-shadow: rgba(0,0,0,0.2);
}
.bg-whitesmoke {
  background-color: whitesmoke !important;
}
.bg-dark {
  background-color: rgba(0,0,0,0.6);
}
.bg-grey {
  background-color: #eaeaea;
}

.headline {
  border-bottom: 1px solid #eaeaea;
}

.accent {
  color: $color-accent;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.top-padded {
  padding-top: em(18px);

  &-2x {
    padding-top: em(36px);
  }

  &-sm {
    padding-top: em(12px);
  }
}

.bottom-padded {
  padding-bottom: em(18px);

  &-sm {
    padding-bottom: em(12px);
  }
}

.hidden {
  display: none;
}

.filter-chips {
  margin: 16px 0 0;
  display: flex;
  justify-content: flex-end;
}

mat-chip:hover {
  cursor: pointer;
  background-color: lighten(#FFB74D, 15%);
}

.active {
  background-color: $color-primary;
  color: #fff;
}

.underlined-heading {
  display: inline-block;
  border-bottom: 3px solid $color-accent;
}

.link {
  cursor: pointer;
  &:hover {
    color: $color-accent;
  }

  &-und:hover {
    text-decoration: underline;
    color: $color-accent;
  }

  &-underlined {
    text-decoration: underline;
    color: midnightblue;
  }

  &-underlined-accent {
    text-decoration: underline;
    color: $color-accent;
  }
}

.bordered {
  border: 1px solid #bbbbbb;
}

.border-right {
  border-right: 1px solid #bbbbbb;
}

.bottom-border {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.loading-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container-inbound {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container p {
  margin-top: em(14px);
}

.tall {
  min-height: 80vh;
}

.padded {
  padding: em(8px) 0;

  &-md {
    padding: em(18px) 0;
  }

  &-lg {
    padding: em(28px) 0;
  }

  &-sm {
    padding: em(12px) 0;
  }

  &-xs {
    padding: em(5px) 0;
  }
}

.shadow {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.default-shadow {
  box-shadow: $box-shadow;
}

.badge {
  display: inline-block;
  padding: em(8px) em(8px);
  font-size: 85%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: em(15px);
  color: #fff;

  &:hover {
    background-color: $color-accent;
    cursor: pointer;
  }

  &--default {
    background-color: $color-accent-light;
  }
}

.inline-block {
  display: inline-block;
}

.icon-grey {
  color: rgba(0, 0, 0, 0.54);
}

.relative {
  position: relative;
}


