/* Theming */
@mixin theme($map, $property, $theme-map: $themes) {
    $value: map-get($theme-map, $map);
    @each $theme, $color in $value {
        &--#{$theme} {
            #{$property}: $color;
            @content;
        }
    }
}

/* BEM Selectors */
@mixin element($name) {
    &__#{$name} {
        @content;
    }
}

@mixin modifier($name) {
    &--#{$name} {
        @content;
    }
}

/* Mixin for pseudo elements */
@mixin pseudo($pos, $w: null, $h: null) {
    &:#{$el} {
        @extend %pseudo;
        width: $w;
        height: $h;
        @content;
    }
}

/* Responsive Container media queries */
@mixin mq($break) {
    @if $break == "xsmall" {
      @media (min-width: $xsmall) and (max-width: $small - 1px) {
        @content;
      }
    }
    @else if $break == "small" {
      @media (min-width: $small) {
        @content;
      }
    }

    @else if $break == "medium" {
        @media (min-width: $medium) {
            @content;
        }
    }

    @else if $break == "large" {
      @media (min-width: $large) {
        @content;
      }
    }

    @else if $break == "mat-card-xs" {
      @media (min-width: $mat-card-xs) {
        @content;
      }
    }

    @else {
        @error "Whoops! No value could be retrieved for `#{$break}`.";
    }
}
