.navbar {
  height: em(85px);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* navbar__item */
  @include element(item) {
    @extend %inherit-height;

    @include modifier(logo) {
      width: 15%;
      & img {
        width: em(175px);
      }
    }
    @include modifier(right) {
      width: 75%;
      display: flex;
      flex-direction: column;
      height: em(60px);
      justify-content: space-between;
    }
  }

  @include modifier(social-icons) {
    display: flex;
    justify-content: flex-end;
    & i {
      font-size: em(17px);
      padding: em(5px) em(12px) 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-end;

  @include element(item) {
    list-style-type: none;
    padding-left: em(15px);
    a {
      @extend %nav-link;
      color: rgb(218, 136, 15);
      font-size: em(14px);
      font-weight: bold;
      &:hover {
        color: rgb(218, 136, 15);
        cursor: pointer;
        border-bottom: 1px solid rgb(218, 136, 15);
      }
      &:active {
        color: rgb(218, 136, 15);
        cursor: pointer;
        border-bottom: 1px solid rgb(218, 136, 15);
      }
    }
    &::after {
      content: "|";
      margin-left: 15px;
      color: grey;
    }
    &:last-child::after {
      content: "";
      margin: 0;
    }
  }

  /* The user section */
  @include modifier(user) {
    display: flex;
  }
}
