.package-details__overview {
  .headline {
    margin-bottom: em(12px);
  }
  .overview-headline {
    padding-bottom: em(4px);
  }

  .package-validity {
    padding: em(10px) 0;
  }
}

.package-details {
  ul {
    margin-left: em(14px);
    & li {
      padding-top: em(12px);
      list-style-type: none;
    }
  }
}

.itinerary__item {
  padding: em(15px) em(10px) em(7px);
}

.package-price {
  font-size: em(24px);
  font-weight: nestedmaps(weight, bold);
}

.right__cta {
  display: flex;
  justify-content: flex-end;
}

/* Package rows */
.package-row {
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  margin-bottom: 1em;
  background-color: #fff;
  &:first-of-type {
      margin-top: 0.5em;
  }
}

.package-row__info {
  padding: 0.8em;
}

.package-row__info--title {
  margin-bottom: 0;
}

/* Package cards and pricing */
.package-pircing {
  padding-bottom: em(22px);
}

mat-card.package-pricing--card {
  padding: 0;
}
.package-pricing--title {
  font-weight: nestedmaps(weight, normal) !important;
  font-size: em(20px);
  display: inline-block;
  line-height: 2;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: $grey;
}

.package-pricing__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fff;
  padding: em(54px) em(22px) em(26px);
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: nestedmaps(weight, light);
  position: relative;
}

.package-pricing__body {
  padding: em(14px);

  .item {
    text-align: center;
    padding: em(8px) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.package-pricing__cta {
  padding-top: em(8px);
  padding-bottom: em(18px);

  button {
    color: #fff !important;
  }
}

.sup {
  font-size: em(16px);
}

.bundle-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: nestedmaps(weight, medium);

  &-Gold {
    background-color: rgba(246,168,33, 0.5) !important;
  }

  &-Silver {
    background-color: rgba(248,77,76, 0.5) !important;
  }

  &-Standard {
    background-color: rgba(151,252,244, 0.5) !important;
  }
}

.bundle-head {
  display: inline-block;
  padding-bottom: em(4px);
  border-bottom: 2px solid $color-accent;
  font-weight: nestedmaps(weight, medium);
}

.bundle-price {
  font-size: em(35px);
  font-weight: nestedmaps(weight, primary);
}

.bundle {
  &-Gold {
    background-color: #F6A821 !important;

    button {
      background-color: #F6A821 !important;
    }
  }

  &-Silver {
    background-color: #F84D4C !important;

    button {
      background-color: #F84D4C !important;
    }
  }

  &-Standard {
    background-color: #97FCF4 !important;

    button {
      background-color: #97FCF4 !important;
    }
  }
}
