$bg: lighten($spring-green, 50%);
$bg-info: lighten($orange-peel, 45%);
$bg-danger: lighten($punch, 40%);
$bg-success: lighten($spring-green, 40%);

.payment-options {
  padding: em(16px);
  background-color: #f4f4f4;
}

.payment-channels {
  padding-top: em(18px);
}

.payment-options__head {
  background-color: rgb(95,104,116);
  // margin-bottom: 1em;
}

.payment-options--single {
  padding: em(12px);
}

.mb {
  margin-bottom: 1em;
}

.mt {
  margin-top: em(12px);
}

.pb {
  padding-bottom: em(14px);
}

.payment-comments {
  font-family: inherit;
  border-radius: em(8px);
  // transition: all 0.2s ease;
}

.payment-comments:focus {
  outline: none;
  outline: 2px solid $color-accent;
}

.checkbox-group {
  margin-left: em(12px);
}

.pay-tcell {
  line-height: 2;
}

.payment-cta {
  outline: none;
  border: none;
  color: #fff;
  background-color: rgba(235, 88, 88);
  font-size: em(16px);
  font-weight: nestedmaps(weight, bold);
}

.payment-cta[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
  cursor: default !important;
  color: rgba(0, 0, 0, 0.26);
}

.payment-cta:hover {
  cursor: pointer;
  background-color: rgb(95,104,116);
}

.payment-content {
  @extend %panel-default;
  margin-top: em(12px);
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

.paybillProc > li {
  padding: em(6px);
}

/* Installments */
.installments {
  padding: em(10px) 0;
}

.installment-chips {
  margin-top: em(5px);
  display: flex;
  justify-content: center;
}

.installment-message {
  background-color: $bg;
  color: $spring-green;
  font-weight: nestedmaps(weight, light);
  padding: em(10px) em(16px);
}

.installments-table {
  max-width: em(650px);
  margin: auto;
}

.installment-message-info {
  margin: em(12px) 0;
  background-color: $bg-info;
  color: $orange-peel;
  font-weight: nestedmaps(weight, light);
  padding: em(16px);
}

.flash-message {
  margin: em(12px) 0;
  background-color: $bg-info;
  color: $orange-peel;
  font-weight: nestedmaps(weight, light);
  padding: em(16px);
}

.flash-message-danger {
  margin: em(12px) 0;
  background-color: $bg-danger;
  color: $punch;
  font-weight: nestedmaps(weight, light);
  padding: em(16px);
}

.flash-message-success {
  margin: em(12px) 0;
  background-color: $bg-success;
  color: $spring-green;
  font-weight: nestedmaps(weight, light);
  padding: em(16px);
}

/* Cut from users module / payment */

.spacer {
  padding-top: 1.6em;
}

button {
  margin-top: 0.5em;
  padding: 12px 0;
}

/* Add top spacing for the Add phone number button */
.btn {
  margin-top: 1.5em;
}

/* The paragraph that shows the pLoad on either phone or name */
.space-bottom {
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .item-container {
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .item-container {
    width: 100%;
  }
}

.item-title {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 1em;
}

