// .ribbon {
//   width: 260px;
//   height: 188px;
//   position: relative;
//   float: left;
//   margin-bottom: 30px;
//   background: url(https://html5book.ru/wp-content/uploads/2015/10/snow-road.jpg);
//   background-size: cover;
//   text-transform: uppercase;
//   color: white;
// }

.ribbon {
  position: absolute;
  top: -6px;
  left: 10px;
  color: #fff;
}
.ribbon:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 10px solid transparent;
}
.ribbon span {
  position: relative;
  display: block;
  text-align: center;
  background: transparent;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-left-radius: 8px;
  width: 90px;
}
.ribbon span:before, .ribbon span:after {
  position: absolute;
  content: "";
}
.ribbon span:after {
 height: 6px;
 width: 6px;
 right: -5px;
 top: 0;
 background: transparent;
}
.ribbon span:before {
 height: 6px;
 width: 7px;
 right: -7px;
 top: 0;
 border-radius: 7px 7px 0 0;
 background: transparent;
 z-index: 1000000;
}

.Gold-ribbon:after {
  border-top: 10px solid #FFB300;
}

.Gold-ribbon span {
  background: #FFB300;
}

.Gold-ribbon span:after {
  background: #FFB300;
}

.Gold-ribbon span:before {
  background: #FFA000;
}

.Silver-ribbon:after {
  border-top: 10px solid #BDBDBD;
}

.Silver-ribbon span {
  background: #BDBDBD;
}

.Silver-ribbon span:after {
  background: #BDBDBD;
}

.Silver-ribbon span:before {
  background: #9E9E9E;
}

.Standard-ribbon:after {
  border-top: 10px solid #DCA570;
}

.Standard-ribbon span {
  background: #DCA570;
}

.Standard-ribbon span:after {
  background: #DCA570;
}

.Standard-ribbon span:before {
  background: #D799DB;
}
