.left_arrow, .right_arrow{
	background: url(./assets/images/sprite.png) no-repeat;
}

.left_arrow{
	background-position: 0 0;
	width: 50px;
	height: 82px;
}

.right_arrow{
	background-position: 0 -82px ;
	width: 50px;
	height: 82px;
}

.previous_xs, .next_xs{
	background: url(./assets/images/sprite_xs.png) no-repeat;
}

.previous_xs{
	background-position: -10px -30px ;
	width: 24px;
	height: 36px;
}

.next_xs{
	background-position: -10px -100px ;
	width: 24px;
	height: 36px;
}