.small {
  font-size: em(15px);
}

.small-text {
  font-size: em(13px);
}

.large {
  font-size: em(18px);
}

.light-weight {
  font-weight: nestedmaps(weight, light);
}

.medium {
  font-weight: nestedmaps(weight, primary);
}

.bold {
  font-weight: nestedmaps(weight, medium);
}

.ultra-bold {
  font-weight: nestedmaps(weight, bold);
}

.center-text {
  text-align: center;
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: uppercase;
}

.spaced {
  letter-spacing: 1px;
}

.th {
  font-size: em(12px);
  font-weight: nestedmaps(weight, light);
  color: rgba(0, 0, 0, 0.54);
}

.tcell {
  font-size: em(14px);
}

.byline {
  @extend %grouped-subheading;
}

.byline-small {
  @extend %byline-heading;
  font-weight: nestedmaps(weight, light);
}

.tiny-text {
  @extend %tiny-text;
}

.icon-large {
  font-size: em(24px);
}
