$teal: lighten($mat-teal-50, 5%);
$border: darken($mat-teal-50, 30%);
$light-border: darken($mat-teal-50, 10%);
$light-grey: lighten($grey, 25%);
$light-teal: lighten($mat-teal-50, 4%);

@media (min-width: 600px) {
  .user-form--parent .vertical_form {
    width: 400px;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .user-form--parent .vertical_form {
    width: 100%;
  }
}

.deep-cerulean {
  color: $deep-cerulean;
}

.profile-name {
  line-height: 2;
  font-size: em(20px);
  font-weight: nestedmaps(weight, medium);
  letter-spacing: 1px;
}

.profile-subtitle {
  letter-spacing: 1px;
  line-height: 1.6;

  &-byline {
    padding-bottom: em(8px);
  }
}

.top-card {
  margin-top: 0;
}

// The blue links on the expanded panel
.user-link {
  color: $deep-cerulean;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.user-link-padded {
  color: $deep-cerulean;
  // padding-top: em(12px);
  line-height: 2.5;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Bookings
ul.bookingsList, ul.bookingsList li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none
}

.bookings {
  &__header {
    padding-bottom: em(12px);
  }

  &__row {
    padding: em(16px) em(12px);
    background-color: $teal;
    border-left: 6px solid transparent;
    transition: .4s;

    &:hover {
      cursor: pointer;
      background-color: $mat-teal-50;
      border-left: 6px solid $border;
    }
  }

  &__row--expanded {
    // padding: em(18px) 0;
    border: 1px solid $light-grey;
    border-left: 6px solid $light-border;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    // display: none;

    section {
      margin-bottom: em(16px);
    }

    .spaced-lines p {
      line-height: 1.9;
    }
  }

  &--inner {
    padding-bottom: em(24px);
    margin: em(18px) 0;
  }
}

.wallet__head {
  padding: em(6px) em(12px);
}

.wallet__row {
  padding: em(16px) em(12px);
  border-bottom: 1px solid $light-grey;

  &--striped {
    padding: em(16px) em(12px);
    background-color: $light-teal;
  }
}

.active-booking {
  cursor: pointer;
  background-color: $mat-teal-50;
  border-left: 6px solid $border;
}

// Row-divider
.row-divider {
  padding-top: em(18px);
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

.section-row-total {
  padding-top: em(12px);
}

.users-cta {
  border: 2px solid $deep-cerulean;
  outline: none;
  color: $deep-cerulean;
  font-weight: nestedmaps(weight, medium);
  padding: em(12px) em(16px);
  background-color: #fff;
  border-radius: 4px;

  &-lg {
    padding: em(14px) 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.users-cta-solid-lg {
  outline: none;
  border: none;
  padding: em(14px) em(18px);
  color: #fff;
  background-color: $deep-cerulean;
  font-weight: nestedmaps(weight, medium);

  &:hover {
    cursor: pointer;
  }
}

.users-cta-danger {
  border: 2px solid $punch;
  outline: none;
  color: $punch;
  font-weight: nestedmaps(weight, medium);
  padding: em(10px) em(16px);
  background-color: #fff;
  border-radius: 4px;

  &-lg {
    padding: em(14px) 0;
  }

  &:hover {
    cursor: pointer;
  }
}

// User wallet
.users-payment-img {
  width: 30px;
}

.savings-balance {
  font-weight: nestedmaps(weight, primary);
  font-size: em(26px);
}

.method {
  &-row {
    padding: em(3px) 0;
  }

  &-title {
    padding-bottom: em(8px);
  }
}

$gray: lighten($grey, 25%);

.wallet-body--header {
  background-color: $gray;

  .w-th {
    font-size: em(13px);
    font-weight: nestedmaps(weight, bold);
    color: rgba(0, 0, 0, 0.65);
  }
}

.w-tcell {
  font-size: em(13px);
  font-weight: nestedmaps(weight, medium);
}

.tag {
  font-size: em(13px);
  font-weight: nestedmaps(weight, bold);
  padding: em(5px) em(10px);
  letter-spacing: .15ch;
  border-radius: em(5px);
  text-transform: uppercase;
  color: #fff;

  &-success {
    background-color: $spring-green;
  }

  &-warning {
    background-color: $orange-peel;
  }

  &-danger {
    background-color: $punch;
  }
}
