.slider {
  position: relative;
}

.slider__slides {
  width: 100%;
}
.slide img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.slide--count {
  color: #f2f2f2;
  position: absolute;
  padding: 1em;
  font-weight: bold;
  display: none;
}
.slide--caption {
  width: 100%;
  color: #f2f2f2;
  font-size: 1.6em;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  position: absolute;
  bottom: 1em;
  display: none;
}
/* The slider controls */
.slider__control {
  // overflow: hidden;
  padding: 0.9em 0.5em;
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slider__control:hover {
  cursor: pointer;
}

.slider__dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 8px;
}
.slider__dots > * {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cec9c9;
  display: inline-block;
  margin: 0.4em;
  cursor: pointer;
  border: 2px solid #a8a8a8;
}
.slider__dots > *:hover {
  cursor: pointer;
}
.active-dot, .slider__dots > *:hover {
  background-color: darkslategray;
}
/* Animation */
.fade {
  animation-name: fade;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes fade {
  from { opacity: 0.6 }
  to { opacity: 1 }
}
