<header fxLayout="row" fxLayoutAlign="space-between center" *ngIf="data.location; else loading">
  <div class="padded">
    <h2>{{ data.location[1] }}</h2>
    <span class="byline">{{ data.location[2] }}</span>
  </div>
</header>

<figure style="background-color: #fafafa;">
  <ngx-gallery class="img-responsive" [options]="data.galleryOptions" [images]="data.locationImages"></ngx-gallery>
</figure>

<section class="package-details__overview top-padded">
  <div class="headline"><h1 class="overview-headline">Overview</h1></div>
  <p>{{ data.location[4] }}</p>
</section>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Loading...</p>
  </div>
</ng-template>
